@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    /* height: auto; */
}

* {
    font-family: "PT Sans";
}

/* css for the font */
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.layout-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

/* Navbar Styles */
.navbar {
    z-index: 10;
    position: relative;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 40px;
}

.logo {
    width: 90px;
    height: auto;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    font-size: 40px;
    color: #1472cf;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle:hover .fa-bars {
    transform: rotate(90deg);
}

.nav {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav.active {
    display: block;
    opacity: 1;
    position: absolute;
    right: 20px;
    width: 90%;
    max-width: 350px;
    height: auto;
    top: 60px;
    animation: dropdown 0.5s ease-in-out forwards;
}

@keyframes dropdown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.underline {
    background-color: white;
    height: 1px;
    width: 80%;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    background: linear-gradient(135deg, #1472cf, #65c7f7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 20px 0px 10px 170px;
    padding: 10px;
    z-index: 1;
    top: 0;
    position: sticky;
    border-radius: 20px;
}

.nav li {
    padding: 10px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #ffdd57;
    /* Hover color */
}

/* Additional Menu Toggle Animation */
@keyframes menuToggleAnimation {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.body-container {
    padding: 5px 0px 0px 0px;
}

.title h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #1472cf;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.main .left {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.left .blockimg1 {
    padding: 10px;
}

.blockimg1 .photo1 {
    width: 100%;
    padding: 1px 0px 0px 0px;
}

.blockimg1 .photo1 .Int-Flight {
    width: 100%;
}

.left .date1 {
    display: flex;
    align-items: center;
    width: 50px;
    height: 5px;
    padding: 10px;
    background: linear-gradient(#91edfd, #5eaef0, #1eb2fc, #0058aa);
}

.left .date1 h2 {
    text-align: center;
    margin: 0px;
    font-size: 15px;
    color: #FFFFFF;
}

.left .leftcont h2 {
    font-weight: bolder;
    margin: 7px;
}

.leftcont p, .rightcont p {
    text-align: justify;
}

.leftcont .icon {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    align-self: flex-start;
    width: 51%;
}

.icon p {
    font-size: 14px;
    margin: 3px;
    color: #837c7c;
}

.left .block1, .left .block2 {
    padding: 0px;
    margin-left: 60px;
    margin-top: 75px;
    width: 75%;
    height: 575px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}


.left .block1 .read {
    float: left;
    border-radius: 20px;
    background-color: #0d60b5;
    padding: 12px 28px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 1px 20px 20px 1px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.read:hover {
    background-color: white;
    color: #0d60b5;
}


.left .blockimg2 {
    padding: 10px;
}

.blockimg2 .photo2 {
    width: 100%;
    padding: 1px 0px 0px 0px;
}

.blockimg2 .photo2 .dom-remit {
    width: 100%;
}

.left .date2 {
    display: flex;
    align-items: center;
    width: 50px;
    height: 5px;
    padding: 10px;
    background: linear-gradient(#91edfd, #5eaef0, #1eb2fc, #0058aa);
}

.left .date2 h2 {
    text-align: center;
    margin: 0px;
    font-size: 15px;
    color: #FFFFFF;
}

.left .rightcont h2 {
    font-weight: bolder;
    margin: 7px;
}

.rightcont .icon {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    align-self: flex-start;
    width: 51%;
}

.icon p {
    font-size: 14px;
    margin: 3px;
    color: #837c7c;
}

.left .block2 .read {
    float: left;
    border-radius: 20px;
    background-color: #0d60b5;
    padding: 12px 28px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 1px 20px 20px 1px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main .right {
    background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 45px;
}

.right .explore {
    margin: 1px;
    position: relative;
    left: 270px;
    color: #837c7c;
    cursor: pointer;
}

.explore p:hover {
    color: #F53F4A;
}

.right .title1, .title2, .title3, .title4 {
    cursor: pointer;
}

.right h2:hover {
    color: #F53F4A;
}


.news1, .news2, .news3, .news4 {
    width: 70%;
    height: 30%;
    margin: 20px 0px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.img1, .img2, .img3, .img4 {
    width: 75%;
}

.img1 .img {
    width: 100%;
    height: auto;
}

.img2 .img {
    width: 100%;
    height: auto;
}

.img3 .img {
    width: 100%;
    height: auto;
}

.img4 .img {
    width: 100%;
    height: auto;
}

/* Footer styles */

.footer {
    background: rgb(255, 255, 255);
    /* background: linear-gradient(0deg, rgb(152, 170, 230) 0%, rgb(241, 242, 245) 55%); */
    box-shadow: 0px -12px 25px rgba(228, 237, 250, 0.8);
    /* Adjusted to have a negative y-offset */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    margin-top: auto;
}

.footer .foot .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
}

.logoQR {
    position: relative;
    top: 40px;
    left: 40px;
}

.logoQR .citypaylog {
    position: relative;
    width: 18%;
    height: auto;
    margin: 22px 2px 2px 2px;
    padding: 25px 5px 5px 15px;
}

.logoQR .QRcode {
    position: relative;
    width: 18%;
    height: auto;
    margin: 25px 2px 2px 2px;
    padding: 25px 5px 5px 15px;
}

.dwbuttons {
    margin: 5px 2px 2px 10px;
    padding: 7px 2px 2px 5px;
}

.logimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dwbuttons .logimg .download-btn {
    width: 100px;
    height: 35px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    align-content: center;
}

.dwbuttons .tit {
    width: 100%;
}

.dwbuttons .tit h3 {
    font-size: medium;
    font-weight: bold;
    width: 100%;
}

.playstore, .appstore {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.download-btn {
    width: 200px;
    height: auto;
}

.playstore {
    width: 100%;
    height: 100%;
}

.appstore {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    position: relative;
    right: 0px;
}

.info .basic {
    margin: 4px 0px 4px 0px;
    padding: 4px 10px 4px 0px;
    width: 100%;
    position: relative;
    right: 80px;
}

.info .basic p {
    font-weight: normal;
    padding-top: 10px;
    font-size: medium;
}

.info .basic .Email p {
    width: 220px;
}

.info .basic .connect p {
    font-weight: bold;
    color: #0D60B5;
    font-size: large;
}

.connect {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.connect .soc {
    position: relative;
    left: 12px;
}

.connect {
    width: 100%;
    margin: 10px 10px 10px 30px;
    padding: 10px 50px 50px 30px;
}

.connect p {
    font-weight: bolder;
}

.connect .fb {
    width: 25px;
    height: auto;
}

.connect .ytb {
    width: 25px;
    height: auto;
}

.connect .lkdn {
    width: 25px;
    height: auto;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    width: 100%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff6b6b;
}

/* Become Agent Button */
.agent {
    float: right;
    border-radius: 10px;
    background-color: #0d60b5;
    padding: 10px 10px;
    border: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    margin: 1px 20px 20px 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.agent:hover {
    background-color: white;
    color: #0d60b5;
}

.soc svg:hover {
    transform: scale(1.2);
    /* Increase the size of the icon on hover */
}

.copyright {
    align-items: center;
    margin: 10px 1px 1px 1px;
    padding: 30px 1px 1px 1px;
}

.copyright p {
    text-align: center;
    color: rgb(0, 0, 0);
}




@media (max-width: 2560px) and (min-width: 1441px) {

    .header {
        padding: 10px;
    }

    .nav ul {
        margin: 20px 10px 10px 210px;
        width: 40%;
        padding: 10px;
    }

    /* Footer styles */

    .footer {
    
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0px;
        margin-top: auto;
    }

    .footer .foot .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-gap: 10px; */
    }

    .logoQR {
        position: relative;
        top: 40px;
        left: 40px;
    }

    .logoQR .citypaylog {
        position: relative;
        width: 18%;
        height: auto;
        margin: 22px 2px 2px 2px;
        padding: 25px 5px 5px 15px;
    }

    .logoQR .QRcode {
        position: relative;
        width: 18%;
        height: auto;
        margin: 25px 2px 2px 2px;
        padding: 25px 5px 5px 15px;
    }

    .dwbuttons {
        margin: 5px 2px 2px 10px;
        padding: 7px 2px 2px 5px;
    }

    .logimg {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .dwbuttons .logimg .download-btn {
        width: 100px;
        height: 35px;
        display: flex;
        gap: 10px;
        margin-top: 10px;
        align-items: center;
        align-content: center;
    }

    .dwbuttons .tit {
        width: 100%;
    }

    .dwbuttons .tit h3 {
        font-size: medium;
        font-weight: bold;
        width: 100%;
    }

    .playstore, .appstore {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    .download-btn {
        width: 200px;
        height: auto;
    }

    .playstore {
        width: 100%;
        height: 100%;
    }

    .appstore {
        width: 100%;
        height: 100%;
    }

    .info {
        display: flex;
        flex-direction: row;
        gap: 70px;
        align-items: center;
        position: relative;
        right: 0px;
    }

    .info .basic {
        margin: 4px 0px 4px 0px;
        padding: 4px 10px 4px 0px;
        width: 100%;
        position: relative;
        right: 80px;
    }

    .info .basic p {
        font-weight: normal;
        padding-top: 10px;
        font-size: medium;
    }

    .info .basic .Email p {
        width: 220px;
    }

    .info .basic .connect p {
        font-weight: bold;
        color: #0D60B5;
        font-size: large;
    }

    .connect {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    .connect .soc {
        position: relative;
        left: 12px;
    }

    .connect {
        width: 100%;
        margin: 10px 10px 10px 30px;
        padding: 10px 50px 50px 30px;
    }

    .connect p {
        font-weight: bolder;
    }

    .connect .fb {
        width: 25px;
        height: auto;
    }

    .connect .ytb {
        width: 25px;
        height: auto;
    }

    .connect .lkdn {
        width: 25px;
        height: auto;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4px 4px 4px 4px;
        padding: 4px 4px 4px 4px;
        width: 100%;
    }

    .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-links li {
        margin-bottom: 10px;
    }

  

    /* Become Agent Button */
    .agent {
        float: right;
        border-radius: 10px;
        padding: 10px 10px;
        border: none;
        font-size: 12px;
    }


    .copyright {
        align-items: center;
        margin: 10px 1px 1px 1px;
        padding: 30px 1px 1px 1px;
    }

    .copyright p {
        text-align: center;
    }
}


@media (max-width: 1440px) and (min-width: 1025px) {

    .header {
        padding: 10px;
    }

    .main {
        gap: 50px;
        width: 100%;
    }

    .main .left {
        width: 640px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
    }

    .left .block1, .left .block2 {
        padding: 0px;
        margin-left: 20px;
        margin-top: 45px;
        margin-bottom: 35px;
        width: 85%;
        height: 545px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .leftcont .icon {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .rightcont .icon {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .leftcont h2, .rightcont h2 {
        font-size: 20px;
    }

    .leftcont p, .rightcont p {
        font-size: 14px;
        padding: 0px 12px 0px 12px;
    }

    .main .right {
        background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .news1, .news2, .news3, .news4 {
        width: 80%;
        height: 50%;
        margin: 10px 10px 10px 25px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .title1 h2, .title2 h2, .title3 h2, .title4 h2 {
        font-size: 16px;
    }

    .title1 p, .title2 p, .title3 p, .title4 p {
        font-size: 12px;
    }

    .img1, .img2, .img3, .img4 {
        width: 75%;
    }

    .img1 .img {
        width: 70%;
        height: auto;
    }

    .img2 .img {
        width: 70%;
        height: auto;
    }

    .img3 .img {
        width: 70%;
        height: auto;
    }

    .img4 .img {
        width: 70%;
        height: auto;
    }



    /* Footer */
    .footer {
        padding: 20px 0px 20px 20px;
    }

    .footer .foot .row .logoQR .citypaylog {
        width: 22%;
    }

    .footer .foot .row .logoQR .QRcode {
        width: 22%;
    }

    .footer .foot .row .info .basic {
        position: relative;
        left: 50px;
    }

    .footer .foot .row .info p {
        font-size: 13px;
    }

    .footer .foot .row .footer-links {
        margin: 1px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        width: 80%;
    }

    .footer .foot .row .footer-links a {
        font-size: small;
    }

    .footer .foot .row .footer-links h4 {
        font-size: medium;
    }

    .footer .foot .row .logimg .download-btn {
        width: 90px;
        height: 30px;
        margin: 2px 2px 2px 5px;
    }

    .footer .foot .row .connect {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        width: 200px;
    }

    .footer .foot .row .connect .soc {
        position: relative;
        left: 7px;
    }

    .footer .foot .row .connect .fb {
        width: 22px;
        height: auto;
    }

    .footer .foot .row .connect .ytb {
        width: 22px;
        height: auto;
    }

    .footer .foot .row .connect .lkdn {
        width: 22px;
        height: auto;
    }



}


@media (max-width: 1024px) and (min-width: 769px) {

    .header {
        padding: 10px;
    }

    .main {
        gap: 10px;
    }

    .main .left {
        width: 465px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
    }

    .left .block1, .left .block2 {
        padding: 0px;
        margin-left: 20px;
        margin-top: 45px;
        margin-bottom: 35px;
        width: 85%;
        height: 525px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .left .date1 {
        width: 20%;
    }

    .left .date1 h2 {
        font-size: 11px;
    }

    .left .date2 {
        width: 20%;
    }

    .left .date2 h2 {
        font-size: 11px;
    }

    .left .block1 .read {
        font-size: 12px;
    }

    .left .block2 .read {
        font-size: 12px;
    }

    .leftcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .rightcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .leftcont h2, .rightcont h2 {
        font-size: 15px;
    }

    .leftcont p, .rightcont p {
        font-size: 13px;
        padding: 0px 5px 0px 5px;
    }


    .main .right {
        background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .right .explore {
        width: 50%;
    }

    .news1, .news2, .news3, .news4 {
        width: 80%;
        height: 40%;
        margin: 10px 10px 10px 15px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .title1 h2, .title2 h2, .title3 h2, .title4 h2 {
        font-size: 14px;
        margin: 1px;
    }

    .title1 p, .title2 p, .title3 p, .title4 p {
        font-size: 10px;
    }

    .img1, .img2, .img3, .img4 {
        width: 75%;
    }

    .img1 .img {
        width: 70%;
        height: auto;
    }

    .img2 .img {
        width: 70%;
        height: auto;
    }

    .img3 .img {
        width: 70%;
        height: auto;
    }

    .img4 .img {
        width: 70%;
        height: auto;
    }

    /* Footer */

    .footer {
        padding: 5px;
    }

    .footer .row {
        position: relative;
        right: 50px;
    }

    .footer .logoQR {
        display: flex;
        flex-direction: column;
    }

    .footer .logoQR .citypaylog {
        width: 30%;
        position: relative;
        left: 40px;
        padding: 5px;
        margin: 5px;
    }

    .footer .logoQR .QRcode {
        width: 30%;
        position: relative;
        left: 40px;
        padding: 5px;
    }

    .footer .dwbuttons {
        position: relative;
        left: 20px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 12px;
    }

    .footer .dwbuttons .logimg {
        position: relative;
        left: 50px;
        display: flex;
        flex-direction: column;
    }

    .footer .dwbuttons .logimg .download-btn {
        position: relative;
        right: 42px;
    }

    .footer .info .basic {
        position: relative;
        left: 70px;
        width: 80%;
    }

    .footer .info p {
        font-size: 11px;
    }

    .footer .footer-links {
        margin: 1px 10px 1px 1px;
        padding: 1px 20px 1px 1px;
        position: relative;
        right: 100px;
        top: 50px;
    }

    .footer .footer-links a {
        font-size: x-small;
    }

    .footer-links h4 {
        font-size: medium;
    }

    .footer-links .agent {
        font-size: 10px;
        padding: 10px;
        width: 50%;
    }

    .footer .logimg .download-btn {
        width: 70px;
        height: 25px;
        margin: 2px 2px 2px 5px;
    }

    .connect {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        width: 200px;
        position: relative;
        right: 100px;
    }

    .connect .soc {
        position: relative;
        left: 3px;
    }

    .connect .fb {
        width: 20px;
        height: auto;
    }

    .connect .ytb {
        width: 20px;
        height: auto;
    }

    .connect .lkdn {
        width: 20px;
        height: auto;
    }

    .footer .copyright p {
        font-size: smaller;
    }

}



@media (max-width: 768px) and (min-width: 426px) {

    .header {
        padding: 10px;
    }


    .main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .main .left {
        width: 100%;
        height: 660px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
    }

    .left .block1, .left .block2 {
        padding: 0px;
        margin-left: 20px;
        margin-top: 45px;
        width: 85%;
        height: 535px;
        background-color: #FFFFFF;
    }

    .left .date1 {
        width: 20%;
    }

    .left .date1 h2 {
        font-size: 11px;
    }

    .left .date2 {
        width: 20%;
    }

    .left .date2 h2 {
        font-size: 11px;
    }

    .left .block1 .read {
        font-size: 12px;
    }

    .left .block2 .read {
        font-size: 12px;
    }

    .leftcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .rightcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .leftcont h2, .rightcont h2 {
        font-size: 15px;
    }

    .leftcont p, .rightcont p {
        font-size: 13px;
        padding: 0px 5px 0px 5px;
    }

    .main .right {
        background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .right .explore {
        width: 50%;
    }

    .news1, .news2, .news3, .news4 {
        width: 80%;
        height: 60%;
        margin: 10px 0px 10px 26px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .title1 h2, .title2 h2, .title3 h2, .title4 h2 {
        font-size: 20px;
        margin: 1px;
    }

    .title1 p, .title2 p, .title3 p, .title4 p {
        font-size: 14px;
    }

    .img1, .img2, .img3, .img4 {
        width: 75%;
    }

    .img1 .img {
        width: 70%;
        height: auto;
    }

    .img2 .img {
        width: 70%;
        height: auto;
    }

    .img3 .img {
        width: 70%;
        height: auto;
    }

    .img4 .img {
        width: 70%;
        height: auto;
    }


    /* Footer */
    .footer {
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .footer .foot {
        width: 100%;
        position: relative;
    }

    .footer .row {
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;

    }

    .footer .row .logoQR {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-content: center;
        top: 0;
        left: 0;
        margin: 30px 0px 0px 0px;
    }

    .footer .row .logoQR .citypaylog {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 5px;
    }

    .footer .row .logoQR .QRcode {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 2px 0px 0px 0px;
    }

    .footer .row .logoQR .dwbuttons {
        position: relative;
        right: 0px;
        width: 50%;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 12px;
        text-align: center;
    }

    .footer .dwbuttons .logimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .footer .dwbuttons .logimg .download-btn {
        width: 80px;
        height: auto;
        margin: 0px 0px 0px 10px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footer .info .basic {
        padding: 5px;
        margin: 95px 5px 0px 25px;
        width: 70%;
        position: relative;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basic div {
        width: 100%;
    }

    .info .basic p {
        font-size: 11px;
        margin: 2px;
        padding: 2px;
        text-align: left;
    }

    .footer .info .basic .Email p {
        width: 100%;
    }

    .connect {
        padding: 5px;
        margin: 5px 5px 35px 5px;
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect p {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 25px;
        height: auto;
    }

    .connect .ytb {
        width: 25px;
        height: auto;
    }

    .connect .lkdn {
        width: 25px;
        height: auto;
    }

    .footer .footer-links {
        margin: 45px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links a {
        font-size: 10px;
    }

    .footer-links h4 {
        font-size: 12px;
    }

    .footer-links .agent {
        font-size: 6px;
        padding: 5px;
        width: 50%;
    }

    .footer .copyright p {
        font-size: x-small;
    }
}



@media (max-width: 425px) and (min-width: 376px) {

    .header {
        padding: 10px;
    }

    .nav ul {
        margin: 20px 10px 10px 25px;
        width: 80%;
        padding: 10px;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .main .left {
        width: 100%;
        height: 660px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
    }

    .left .block1, .left .block2 {
        padding: 0px;
        margin-left: 20px;
        margin-top: 45px;
        width: 85%;
        height: 535px;
        background-color: #FFFFFF;
    }

    .left .date1 {
        width: 20%;
    }

    .left .date1 h2 {
        font-size: 8px;
    }

    .left .date2 {
        width: 20%;
    }

    .left .date2 h2 {
        font-size: 8px;
    }

    .left .block1 .read {
        font-size: 12px;
    }

    .left .block2 .read {
        font-size: 12px;
    }

    .leftcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .leftcont .icon .ico {
        width: 70%;
    }

    .rightcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .rightcont .icon .ico {
        width: 70%;
    }

    .leftcont h2, .rightcont h2 {
        font-size: 15px;
    }

    .leftcont p, .rightcont p {
        font-size: 13px;
        padding: 0px 5px 0px 5px;
    }

    .main .right {
        background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .right .explore {
        width: 60%;
        font-size: 14px;
    }

    .news1, .news2, .news3, .news4 {
        width: 80%;
        height: 60%;
        margin: 10px 0px 10px 26px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .title1 h2, .title2 h2, .title3 h2, .title4 h2 {
        font-size: 20px;
        margin: 1px;
    }

    .title1 p, .title2 p, .title3 p, .title4 p {
        font-size: 14px;
    }

    .img1, .img2, .img3, .img4 {
        width: 75%;
    }

    .img1 .img {
        width: 70%;
        height: auto;
    }

    .img2 .img {
        width: 70%;
        height: auto;
    }

    .img3 .img {
        width: 70%;
        height: auto;
    }

    .img4 .img {
        width: 70%;
        height: auto;
    }




    /* Footer */
    .footer {
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .footer .foot {
        width: 100%;
        position: relative;
    }

    .footer .row {
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;

    }

    .footer .row .logoQR {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-content: center;
        top: 0;
        left: 0;
        margin: 90px 0px 0px 0px;
    }

    .footer .row .logoQR .citypaylog {
        width: 40%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 5px;
    }

    .footer .row .logoQR .QRcode {
        width: 40%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 2px 0px 0px 0px;
    }

    .footer .row .logoQR .dwbuttons {
        position: relative;
        right: 0px;
        width: 80%;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 12px;
        text-align: center;
    }

    .footer .dwbuttons .logimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .footer .dwbuttons .logimg .download-btn {
        width: 70px;
        height: 25px;
        margin: 0px 0px 0px 20px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footer .info .basic {
        padding: 5px;
        margin: 135px 5px 0px 5px;
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basic div {
        width: 100%;
    }

    .info .basic p {
        font-size: 10px;
        margin: 2px;
        padding: 2px;
        text-align: left;
    }

    .footer .info .basic .Email p {
        width: 100%;
    }

    .connect {
        padding: 5px;
        margin: 5px 5px 35px 5px;
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect p {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 25px;
        height: auto;
    }

    .connect .ytb {
        width: 25px;
        height: auto;
    }

    .connect .lkdn {
        width: 25px;
        height: auto;
    }

    .footer .footer-links {
        margin: 45px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links a {
        font-size: 10px;
    }

    .footer-links h4 {
        font-size: 12px;
    }

    .footer-links .agent {
        font-size: 8px;
        padding: 6px;
        width: 55%;
    }

    .footer .copyright p {
        font-size: x-small;
    }

    .soc svg:hover {
        transform: none;
        /* Remove the hover effect on mobile devices */
    }
}


@media (max-width: 375px) and (min-width: 321px) {

    .nav ul {
        margin: 20px 20px 10px 61px;
        width: 70%;
        padding: 10px;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .main .left {
        width: 100%;
        height: 550px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
    }

    .left .block1, .left .block2 {
        padding: 0px;
        margin-left: 12px;
        margin-top: 45px;
        width: 85%;
        height: 425px;
        background-color: #FFFFFF;
    }

    .left .date1 {
        width: 20%;
    }

    .left .date1 h2 {
        font-size: 8px;
    }

    .left .date2 {
        width: 20%;
    }

    .left .date2 h2 {
        font-size: 8px;
    }

    .left .block1 .read {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }

    .left .block2 .read {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }

    .leftcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .leftcont .icon .ico {
        width: 70%;
    }

    .rightcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .rightcont .icon .ico {
        width: 70%;
    }

    .leftcont h2, .rightcont h2 {
        font-size: 14px;
    }

    .leftcont p, .rightcont p {
        font-size: 11px;
        padding: 0px 5px 0px 5px;
    }

    .main .right {
        background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .right .explore {
        position: relative;
        left: 200px;
    }

    .news1, .news2, .news3, .news4 {
        width: 80%;
        height: 60%;
        margin: 10px 0px 10px 26px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .title1 h2, .title2 h2, .title3 h2, .title4 h2 {
        font-size: 16px;
        margin: 1px;
    }

    .title1 p, .title2 p, .title3 p, .title4 p {
        font-size: 12px;
    }

    .img1, .img2, .img3, .img4 {
        width: 75%;
    }

    .img1 .img {
        width: 70%;
        height: auto;
    }

    .img2 .img {
        width: 70%;
        height: auto;
    }

    .img3 .img {
        width: 70%;
        height: auto;
    }

    .img4 .img {
        width: 70%;
        height: auto;
    }



    /* Footer */
    .footer {
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .footer .foot {
        width: 100%;
        position: relative;
    }

    .footer .row {
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;

    }

    .footer .row .logoQR {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-content: center;
        top: 0;
        left: 0;
        margin: 90px 0px 0px 0px;
    }

    .footer .row .logoQR .citypaylog {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 5px;
    }

    .footer .row .logoQR .QRcode {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 2px 0px 0px 0px;
    }

    .footer .row .logoQR .dwbuttons {
        position: relative;
        right: 0px;
        width: 80%;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 10px;
        text-align: center;
    }

    .footer .dwbuttons .logimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .footer .dwbuttons .logimg .download-btn {
        width: 65px;
        height: 23px;
        margin: 0px 0px 0px 15px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footer .info .basic {
        padding: 5px;
        margin: 135px 5px 0px 5px;
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basic div {
        width: 100%;
    }

    .info .basic p {
        font-size: 9px;
        margin: 2px;
        padding: 2px;
        text-align: left;
    }

    .footer .info .basic .Email p {
        width: 100%;
    }

    .connect {
        padding: 5px;
        margin: 5px 5px 35px 5px;
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect p {
        font-size: 11px;
        width: 100%;
        text-align: center;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 20px;
        height: auto;
    }

    .connect .ytb {
        width: 20px;
        height: auto;
    }

    .connect .lkdn {
        width: 20px;
        height: auto;
    }

    .footer .footer-links {
        margin: 45px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links a {
        font-size: 8px;
    }

    .footer-links h4 {
        font-size: 10px;
    }

    .footer-links .agent {
        font-size: 7px;
        padding: 6px;
        width: 55%;
        border-radius: 5px;
    }

    .footer .copyright p {
        font-size: x-small;
    }

    .soc svg:hover {
        transform: none;
        /* Remove the hover effect on mobile devices */
    }
}

@media (max-width: 320px) and (min-width: 280px) {

    .main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .nav ul {
        margin: 20px 10px 10px 62px;
        width: 60%;
        padding: 10px;
    }


    .main .left {
        width: 100%;
        height: 550px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
    }

    .left .block1, .left .block2 {
        padding: 0px;
        margin-left: 12px;
        margin-top: 45px;
        width: 85%;
        height: 425px;
        background-color: #FFFFFF;
    }

    .left .date1 {
        width: 20%;
    }

    .left .date1 h2 {
        font-size: 8px;
    }

    .left .date2 {
        width: 20%;
    }

    .left .date2 h2 {
        font-size: 8px;
    }

    .left .block1 .read {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }

    .left .block2 .read {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }

    .leftcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .leftcont .icon .ico {
        width: 70%;
    }

    .rightcont .icon {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .rightcont .icon .ico {
        width: 70%;
    }

    .leftcont h2, .rightcont h2 {
        font-size: 14px;
    }

    .leftcont p, .rightcont p {
        font-size: 11px;
        padding: 0px 5px 0px 5px;
    }

    .main .right {
        background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .right .explore {
        position: relative;
        left: 200px;
    }

    .news1, .news2, .news3, .news4 {
        width: 80%;
        height: 60%;
        margin: 10px 0px 10px 26px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .title1 h2, .title2 h2, .title3 h2, .title4 h2 {
        font-size: 16px;
        margin: 1px;
    }

    .title1 p, .title2 p, .title3 p, .title4 p {
        font-size: 12px;
    }

    .img1, .img2, .img3, .img4 {
        width: 75%;
    }

    .img1 .img {
        width: 70%;
        height: auto;
    }

    .img2 .img {
        width: 70%;
        height: auto;
    }

    .img3 .img {
        width: 70%;
        height: auto;
    }

    .img4 .img {
        width: 70%;
        height: auto;
    }

    /* Footer */

    .footer {
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .footer .foot {
        width: 100%;
        position: relative;
    }

    .footer .row {
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;

    }

    .footer .row .logoQR {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-content: center;
        top: 0;
        left: 0;
        margin: 90px 0px 0px 0px;
    }

    .footer .row .logoQR .citypaylog {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 5px;
    }

    .footer .row .logoQR .QRcode {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 2px 0px 0px 0px;
    }

    .footer .row .logoQR .dwbuttons {
        position: relative;
        right: 0px;
        width: 80%;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 9px;
        text-align: center;
    }

    .footer .dwbuttons .logimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .footer .dwbuttons .logimg .download-btn {
        width: 50px;
        height: 18px;
        margin: 0px 0px 0px 15px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footer .info .basic {
        padding: 5px;
        margin: 135px 0px 0px 0px;
        width: 110%;
        position: relative;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basic div {
        width: 100%;
    }

    .info .basic p {
        font-size: 8px;
        margin: 2px;
        padding: 2px;
        text-align: left;
    }

    .footer .info .basic .Email p {
        width: 100%;
    }

    .connect {
        padding: 5px;
        margin: 5px 5px 35px 5px;
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect p {
        font-size: 11px;
        width: 100%;
        text-align: center;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 20px;
        height: auto;
    }

    .connect .ytb {
        width: 20px;
        height: auto;
    }

    .connect .lkdn {
        width: 20px;
        height: auto;
    }

    .footer .footer-links {
        margin: 45px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links a {
        font-size: 7px;
    }

    .footer-links h4 {
        font-size: 9px;
    }

    .footer-links .agent {
        font-size: 6px;
        padding: 5px;
        width: 65%;
        border-radius: 5px;
    }

    .footer .copyright p {
        font-size: x-small;
    }

    .soc svg:hover {
        transform: none;
        /* Remove the hover effect on mobile devices */
    }
}