@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* height: auto; */
}

* {
    font-family: "PT Sans";
    box-sizing: border-box;
}

.container {
    flex: 1;
}

.navbar {
    z-index: 1;
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 20px;
    /* border: 2px solid red; */
}

.logo {
    width: 90px;
    height: auto;
}

.menu-toggle {
    flex-direction: column;
    cursor: pointer;
    height: 20px;
}

.fa-bars {
    font-size: 40px;
    color: #1472cf;
    position: relative;
    left: 1650px;
}

.nav {
    display: none;
}

.nav.active {
    display: block;
    position: absolute;
    right: 20px;
    /* top: 60px; */
    width: 350px;
    height: 500px;
}

.underline {
    background-color: white;
    height: 1px;
    width: 80%;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #194a7a;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 15px;
    z-index: 1;
    top: 0;
    position: sticky;
    border-radius: 15px;
}

.nav li {
    padding: 10px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 25px;
    color: white;
}

.container {
    background: linear-gradient(#0e83e3, #65c7f7, #88e7f8);
    height: auto;
    flex: 1;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
}

.navbar .header .title {
    align-items: center;
    align-content: center;
    width: 100%;
}

.navbar .header .title h1 {
    text-align: center;
    padding-top: 15px;
    color: #0D60B5;
}

.container i {
    color: #0D60B5;
}

.office {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 0px;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 50px 1px 1px 1px;
}

.Office h3 {
    padding-bottom: 10px;
    color: #000000;
}

.Support h3 {
    color: #000000;
}

.address-container {
    display: flex;
    align-items: center;
}

.address-container i {
    margin-right: 10px;
}

.po-container {
    display: flex;
    align-items: center;
    width: 60%;
}

.po-container i {
    margin-right: 10px;
}

.Email {
    display: flex;
    align-items: center;
}

.Email i {
    margin-right: 10px;
}

.Tel {
    display: flex;
    align-iTems: center;
}

.Tel i {
    margin-right: 10px;
}

.Call {
    display: flex;
    align-iTems: center;
}

.Call i {
    margin-right: 10px;
}

.tol {
    display: flex;
    align-iTems: center;
}

.tol i {
    margin-right: 10px;
}

.contact-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.map {
    margin: 50px 10px 10px 140px;
    padding: 20px 10px 10px 20px;
    width: 70%;
}

.map iframe {
    position: relative;
    width: 600px;
    height: 450px;
}



.cont1 h3 {
    padding-bottom: 10px;
}


/* Footer styles */

.footer {
    background: rgb(161, 159, 159);
    background: linear-gradient(0deg, rgb(152, 170, 230) 0%, rgb(241, 242, 245) 55%);
    box-shadow: 0px -12px 25px rgba(228, 237, 250, 0.8);
    /* Adjusted to have a negative y-offset */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    margin-top: auto;
}

.footer .foot .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
}

.logoQR {
    position: relative;
    top: 40px;
    left: 40px;
}

.logoQR .citypaylog {
    position: relative;
    width: 18%;
    height: auto;
    margin: 22px 2px 2px 2px;
    padding: 25px 5px 5px 15px;
}

.logoQR .QRcode {
    position: relative;
    width: 18%;
    height: auto;
    margin: 25px 2px 2px 2px;
    padding: 25px 5px 5px 15px;
}

.dwbuttons {
    margin: 5px 2px 2px 10px;
    padding: 7px 2px 2px 5px;
}

.logimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dwbuttons .logimg .download-btn {
    width: 100px;
    height: 35px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    align-content: center;
}

.dwbuttons .tit {
    width: 100%;
}

.dwbuttons .tit h3 {
    font-size: medium;
    font-weight: bold;
    width: 100%;
}

.playstore, .appstore {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0;
    margin: 0;
}

.download-btn {
    width: 200px;
    height: auto;
}

.playstore {
    width: 100%;
    height: 100%;
}

.appstore {
    width: 100%;
    height: 100%;
}

.playstore:hover,
.appstore:hover {
    transform: scale(1.1);
    /* Increase size on hover */
}

.info {
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    position: relative;
    right: 0px;
}

.info .basic {
    margin: 4px 0px 4px 0px;
    padding: 4px 10px 4px 0px;
    width: 100%;
    position: relative;
    right: 80px;
}

.info .basic p {
    font-weight: 510;
    padding-top: 0px;
    font-size: smaller;
}

.info .basic .connect p {
    font-weight: bold;
    color: #0D60B5;
    font-size: large;
}

.connect {
    width: 100%;
    margin: 10px 10px 10px 30px;
    padding: 10px 50px 50px 30px;
}

.connect .soc {
    position: relative;
    left: 12px;
}

.connect p {
    font-weight: bolder;
}

.connect .fb {
    width: 25px;
    height: auto;
}

.connect .ytb {
    width: 25px;
    height: auto;
}

.connect .lkdn {
    width: 25px;
    height: auto;
}

.soc svg:hover {
    transform: scale(1.2);
    /* Increase the size of the icon on hover */
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    width: 100%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff6b6b;
}

/* Become Agent Button */
.agent {
    float: right;
    border-radius: 10px;
    background-color: #0d60b5;
    padding: 10px 10px;
    border: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    margin: 1px 20px 20px 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.agent:hover {
    background-color: white;
    color: #0d60b5;
}

.copyright {
    align-items: center;
    margin: 10px 1px 1px 1px;
    padding: 30px 1px 1px 1px;
}

.copyright p {
    text-align: center;
    color: white;
}


/* Media Query Responsiveness */

@media (max-width:2560px) and (min-width: 1441px) {
    .container {}

    .footer {}

}


@media (max-width:1440px) and (min-width: 1025px) {
    .container {}

    .footer {}
}

@media (max-width:1024px) and (min-width: 769px) {
    .container {}

    .footer {}
}

@media (max-width:768px) and (min-width: 426px) {
    .container {}


    .footer .row {
        position: relative;
        right: 50px;
    }

    .footer .logoQR .citypaylog {
        width: 30%;
    }

    .footer .logoQR .QRcode {
        width: 30%;
    }


    .footer .info .basic {
        position: relative;
        left: 50px;
    }

    .footer .info p {
        font-size: 11px;
    }

    .footer .footer-links {
        margin: 1px 50px 1px 1px;
        padding: 1px 20px 1px 1px;
    }

    .footer .footer-links a {
        font-size: x-small;
    }

    .footer-links h4 {
        font-size: medium;
    }

    .footer .logimg .download-btn {
        width: 70px;
        height: 25px;
        margin: 2px 2px 2px 5px;
    }

    .connect {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        width: 200px;
    }

    .connect .soc {
        position: relative;
        left: 3px;
    }

    .connect .fb {
        width: 20px;
        height: auto;
    }

    .connect .ytb {
        width: 20px;
        height: auto;
    }

    .connect .lkdn {
        width: 20px;
        height: auto;
    }

    .footer .copyright p {
        font-size: smaller;
    }
}

@media (max-width:425px) and (min-width: 376px) {

    .header {
        padding: 10px 10px 10px 20px;
        width: 75%;
    }

    .navbar .logo {
        width: 60%;
    }

    .navbar .title h1 {
        font-size: 18px;
    }

    .menu-toggle {
        flex-direction: column;
        cursor: pointer;
        height: 20px;
    }

    .fa-bars {
        font-size: 40px;
        color: #1472cf;
    }

    .nav {
        display: none;
    }

    .nav.active {
        display: block;
        position: absolute;
        right: 20px;
        /* top: 60px; */
        width: 350px;
        height: 500px;
    }

    .underline {
        background-color: rgb(255, 255, 255);
        height: 1px;
        width: 80%;
    }

    .nav ul {
        list-style-type: none;
        padding: 0;
        background-color: #194a7a;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding-top: 15px;
        z-index: 1;
        top: 0;
        position: sticky;
        border-radius: 15px;
    }

    .nav li {
        padding: 10px;
        text-align: center;
    }

    .nav a {
        text-decoration: none;
        color: #333;
        font-weight: 700;
        font-size: 25px;
        color: white;
    }

    .container {
        width: 100%;
        padding: 20px;
    }

    .container h3 {
        font-size: medium;
        color: white;
    }

    .container p {
        font-size: small;
        color: white;
    }

    .container i {
        width: 50%;
        color: white;
    }

    .container .office {
        width: 100%;
        margin: 10px 1px 1px 1px;
        display: flex;
        flex-direction: column;
    }

    .container .contact-detail {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .container.office .cont1 {
        width: 50%;
    }

    .address-container {
        display: flex;
        align-items: center;
        width: 295px;
    }

    .address-container p {
        width: 100%;
        position: relative;
        right: 57px;
    }

    .address-container i {
        margin-right: 10px;
    }

    .po-container {
        display: flex;
        align-items: center;
        width: 235px;
    }

    .po-container p {
        position: relative;
        right: 79px;
    }

    .po-container i {
        margin-right: 10px;
    }

    .Email {
        display: flex;
        width: 290px;
    }

    .Email i {
        margin-right: 10px;
    }

    .Email p {
        width: 100%;
        position: relative;
        right: 57px;
    }

    .Tel {
        display: flex;
        width: 280px;
    }

    .Tel i {
        margin-right: 10px;
    }

    .Tel p {
        width: 100%;
        position: relative;
        right: 55px;
    }

    .tol {
        display: flex;
        width: 265px;
    }

    .tol i {
        margin-right: 10px;
    }

    .tol p {
        width: 100%;
        position: relative;
        right: 50px;
    }

    .Call {
        display: flex;
        width: 265px;
    }

    .Call i {
        margin-right: 10px;
    }

    .Call p {
        width: 100%;
        position: relative;
        right: 51px;
    }
}

.container .contact-detail .map {
    width: 340px;
    height: 250px;
    margin: 60px 10px 10px 16px;
    padding: 20px 10px 10px 10px;
    width: 70%;
}

.container .contact-detail .map .map-iframe {
    width: 340px;
    height: 220px;
    position: relative;
    bottom: 10px;
    right: 20px;
    margin: 0;
    padding: 0;
}

/* Footer */

.footer {
    width: 100%;
    height: 28vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px -12px 25px rgba(72, 182, 255, 0.8);
}

.footer .foot {
    display: grid;
}

.footer .foot .row {
    position: relative;
    right: 0px;
    width: 70%;
}

.footer .foot .row .logoQR {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.footer .foot .logoQR {
    margin: auto;
    position: relative;
}

.logoQR .dwbuttons h3 {
    font-size: 12px;
}

.footer .foot .logoQR .citypaylog {
    width: 85%;
    padding: 0;
    position: relative;
    bottom: 20px;
    right: 18px;
}

.footer .foot .logoQR .QRcode {
    width: 85%;
    padding: 0;
    position: relative;
    bottom: 30px;
    right: 18px;
}

.logoQR .dwbuttons {
    width: 100%;
    position: relative;
    right: 40px;
    bottom: 20px;
}

.logoQR .dwbuttons .logimg {
    display: flex;
    flex-direction: column;
}

.logimg .playstore .download-btn {
    width: 55px;
    height: 20px;
    margin: 2px 2px 2px 1px;
    position: relative;
}

.logimg .appstore .download-btn {
    width: 55px;
    height: 20px;
    margin: 2px 2px 2px 1px;
    position: relative;
}

.footer .info {
    display: grid;
    margin: auto;
    width: 100%;
    position: relative;
    right: 57px;
}

.footer .info .basic {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 80px;
    bottom: 0px;
    width: 40%;
    margin: 15px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.footer .info .basic>div {
    flex: 1;
}

.footer .info .basic p {
    margin: 0;
    padding: 3px;
    font-size: 5px;
}

.footer .info .basic .Email p {
    position: relative;
    left: 15px;
}

.footer .info .basic .Tel p {
    position: relative;
    left: 15px;
    width: 30%;
}

.footer .info .basic .ext p {
    position: relative;
    left: 15px;
}

.footer .info .basic .tol p {
    position: relative;
    left: 15px;
}

.footer .info .basic .Call p {
    position: relative;
    left: 15px;
}

.footer .info .connect {
    left: 95px;
    padding: 5px;
    margin: 5px;
    width: 70px;
    position: relative;
    bottom: 85px;
}

.footer .info .connect p {
    font-size: 8px;
}

.connect .soc {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20px;
    width: 30%;
}

.connect .fb {
    width: 20px;
    height: auto;
}

.connect .ytb {
    width: 20px;
    height: auto;
}

.connect .lkdn {
    width: 20px;
    height: auto;
}

.footer .foot .footer-links {
    margin: auto;
    position: relative;
    right: 140px;
    bottom: 38px;
    width: 100%;
}

.footer .footer-links li {
    margin: 0;
    padding: 1px;
}

.footer .footer-links a {
    font-size: 4px;
    margin: 0;
    padding: 1px;
}

.footer-links h4 {
    font-size: 7px;
    margin: 0;
    padding: 0px;
}

.footer-links .agent {
    font-size: 5px;
    padding: 4px;
    border-radius: 5px;
    width: 65%;
    position: relative;
    right: 5px;
}

.footer .copyright {
    position: relative;
    bottom: 94px;
    left: 45px;
    width: 65%;
    padding: 0;
    margin: 0;
}

.footer .copyright p {
    font-size: 4px;
}

.soc svg:hover {
    transform: none;
    /* Remove the hover effect on mobile devices */
}





@media (max-width:375px) and (min-width: 321px) {
    .container {}

    /* Footer */

    .footer {
        margin: 30px 0px 0px 1px;
        padding: 10px 0px 0px 30px;
        box-shadow: 0px -12px 25px rgba(228, 237, 250, 0.8);
        overflow: hidden;
    }

    .footer .row {
        position: relative;
        right: 50px;
    }

    .footer .logoQR {
        position: relative;
        bottom: 100px;
    }

    .footer .logoQR .dwbuttons {
        width: 80%;
        position: relative;
        right: 20px;
        bottom: 40px;
    }

    .footer .logimg .download-btn {
        width: 30px;
        height: 10px;
        margin: 2px 2px 2px 1px;
        position: relative;
    }

    .footer .logoQR .dwbuttons h3 {
        font-size: 7px;
    }

    .footer .logoQR .citypaylog {
        width: 23%;
        padding: 0;
        position: relative;
        bottom: 25px;
    }

    .footer .logoQR .QRcode {
        width: 23%;
        padding: 0;
        position: relative;
        bottom: 25px;
    }

    .footer .info .basic {
        position: relative;
        left: 30px;
        width: 40%;
    }

    .footer .info p {
        font-size: 6px;
    }

    .footer .info .connect {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        width: 110px;
        position: relative;
        right: 30px;
    }

    .connect .soc {
        position: relative;
        left: 3px;
    }

    .connect .fb {
        width: 10px;
        height: auto;
    }

    .connect .ytb {
        width: 10px;
        height: auto;
    }

    .connect .lkdn {
        width: 10px;
        height: auto;
    }

    .footer .footer-links {
        margin: 7px 40px 1px 1px;
        padding: 10px 20px 1px 1px;
        position: relative;
        right: 80px;
        width: 75%;
    }

    .footer .footer-links li {
        margin: 0;
    }

    .footer .footer-links a {
        font-size: 5px;
        margin: 0;
    }

    .footer-links h4 {
        font-size: 7px;
        margin: 0;
    }

    .footer-links .agent {
        font-size: 5px;
        padding: 4px;
        border-radius: 5px;
    }

    .footer .copyright {
        position: relative;
        bottom: 30px;
    }

    .footer .copyright p {
        font-size: 5px;
    }

    .soc svg:hover {
        transform: none;
        /* Remove the hover effect on mobile devices */
    }
}

@media (max-width:320px) and (min-width: 280px) {
    .container {}

    /* Footer */

    .footer {
        margin: 30px 0px 0px 1px;
        padding: 10px 0px 0px 30px;
        box-shadow: 0px -12px 25px rgba(228, 237, 250, 0.8);
        overflow: hidden;
    }

    .footer .row {
        position: relative;
        right: 50px;
    }

    .footer .logoQR {
        position: relative;
        bottom: 100px;
    }

    .footer .logoQR .dwbuttons {
        width: 80%;
        position: relative;
        right: 20px;
        bottom: 40px;
    }

    .footer .logimg .download-btn {
        width: 30px;
        height: 10px;
        margin: 2px 2px 2px 1px;
        position: relative;
    }

    .footer .logoQR .dwbuttons h3 {
        font-size: 7px;
    }

    .footer .logoQR .citypaylog {
        width: 23%;
        padding: 0;
        position: relative;
        bottom: 25px;
    }

    .footer .logoQR .QRcode {
        width: 23%;
        padding: 0;
        position: relative;
        bottom: 25px;
    }

    .footer .info .basic {
        position: relative;
        left: 30px;
        width: 40%;
    }

    .footer .info p {
        font-size: 5px;
    }

    .footer .info .connect {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        width: 110px;
        position: relative;
        right: 45px;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 10px;
        height: auto;
    }

    .connect .ytb {
        width: 10px;
        height: auto;
    }

    .connect .lkdn {
        width: 10px;
        height: auto;
    }

    .footer .footer-links {
        margin: 8px 40px 1px 1px;
        padding: 15px 20px 1px 1px;
        position: relative;
        right: 100px;
        width: 75%;
    }

    .footer .footer-links li {
        margin: 0;
    }

    .footer .footer-links a {
        font-size: 5px;
        margin: 0;
    }

    .footer-links h4 {
        font-size: 7px;
        margin: 0;
    }

    .footer-links .agent {
        font-size: 5px;
        padding: 4px;
        border-radius: 5px;
    }

    .footer .copyright {
        position: relative;
        bottom: 30px;
    }

    .footer .copyright p {
        font-size: 5px;
    }

    .soc svg:hover {
        transform: none;
        /* Remove the hover effect on mobile devices */
    }

}