@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    /* height: auto; */
}

* {
    font-family: "PT Sans";
}

/* css for the font */
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body-container {
    overflow: hidden;
}

/* Navbar Styles */
.navbar {
    z-index: 10;
    position: relative;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    width: 90%;
}

.logo {
    width: 90px;
    height: auto;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    font-size: 40px;
    color: #1472cf;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle:hover .fa-bars {
    transform: rotate(90deg);
}

.nav {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav.active {
    display: block;
    opacity: 1;
    position: absolute;
    right: 20px;
    width: 90%;
    max-width: 350px;
    height: auto;
    top: 60px;
    animation: dropdown 0.5s ease-in-out forwards;
}

@keyframes dropdown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.underline {
    background-color: white;
    height: 1px;
    width: 80%;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    background: linear-gradient(135deg, #1472cf, #65c7f7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 20px 0px 10px 170px;
    padding: 10px;
    z-index: 1;
    top: 0;
    position: sticky;
    border-radius: 20px;
}

.nav li {
    padding: 10px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #ffdd57;
    /* Hover color */
}

/* Additional Menu Toggle Animation */
@keyframes menuToggleAnimation {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(90deg);
    }
}



.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    column-gap: 10px;
    position: absolute;
}

.content .mobile {
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #1472cf; */
    width: 60%;
    height: 100%;
    gap: 20px;
}

.content .mobile .mob-img {
    width: 80%;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.content .downloadct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    background: linear-gradient(#91edfd, #5eaef0, #65c7f7, #55a8f5, #002e92);
    width: 600px;
    height: 395px;
    flex-wrap: wrap;
    padding: 30px;
}

.downloadct .logo {
    width: 30%;
    align-items: center;
}

.downloadct .logo-img {
    width: 180px;
    height: 180px;
    align-items: center;
}

.downloadct .lines h1 {
    text-align: center;
    color: #ffffff;
}

.downloadct .lines p {
    text-align: center;
    color: #ffffff;
    text-align: justify;
    padding: 0px 80px 0px 80px;
}


.content .buttqr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
    width: 600px;
    height: 230px;
    flex-wrap: wrap;
}

.buttqr .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 50px;
    align-items: center;
}

.buttqr .buttons .g-play, .appstore {
    width: 60%;

}

.buttqr .qr {
    width: 100%;
    margin-top: 40px;
    align-items: center;
}

.buttqr .qr .qrc {
    width: 50%;
    height: auto;
}

/* Media Queries */

@media (max-width: 2560px) and (min-width: 1441px) {

    .header {
        width: 98%;
        padding: 10px;
    }

    .nav ul {
        margin: 20px 10px 10px 229px;
        width: 40%;
        padding: 10px;
    }

    .body-container {
        padding: 5px;
    }

    .content .mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        height: 100%;
        gap: 20px;
    }

    .content .mobile .mob-img {
        width: 85%;
        margin-bottom: 20px;
    }

    .content .downloadct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 840px;
        height: 455px;
        flex-wrap: wrap;
        padding: 30px;
    }

    .downloadct .lines h1 {
        font-size: 38px;
    }

    .downloadct .lines p {
        font-size: 20px;
}
    .downloadct .logo {
        width: 20%;
        align-items: center;
    }

    .downloadct .logo-img {
        width: 170px;
        height: 170px;
        align-items: center;
    }

    .content .buttqr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        width: 600px;
        height: 210px;
        flex-wrap: wrap;
    }

    .buttqr .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 50px;
        align-items: center;
    }

    .buttqr .buttons .g-play, .appstore {
        width: 60%;
    }

    .buttqr .qr {
        width: 100%;
        margin-top: 40px;
        align-items: center;
    }

    .buttqr .qr .qrc {
        width: 50%;
        height: auto;
    }

}

@media (max-width: 1440px) and (min-width: 1025px) {
    .header {
        width: 100%;
        padding: 10px;
    }

    .nav ul {
        margin: 20px 10px 10px 229px;
        width: 40%;
        padding: 10px;
    }

    .body-container {
        padding: 5px;
    }


    .content .mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        height: 100%;
        gap: 20px;
    }

    .content .mobile .mob-img {
        width: 95%;
        margin-bottom: 20px;
    }

    .content .downloadct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 395px;
        flex-wrap: wrap;
        padding: 30px;
    }

    .downloadct .logo {
        width: 30%;
        align-items: center;
    }

    .downloadct .logo-img {
        width: 170px;
        height: 170px;
        align-items: center;
    }

    .content .buttqr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        width: 600px;
        height: 210px;
        flex-wrap: wrap;
    }

    .buttqr .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 50px;
        align-items: center;
    }

    .buttqr .buttons .g-play, .appstore {
        width: 60%;
    }

    .buttqr .qr {
        width: 100%;
        margin-top: 40px;
        align-items: center;
    }

    .buttqr .qr .qrc {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .header {
        width: 95%;
        padding: 10px;
    }

    .nav ul {
        margin: 20px 10px 10px 214px;
        width: 40%;
        padding: 10px;
    }

    .content .mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        height: 100%;
        gap: 20px;
        align-items: start;
        position: relative;
    }

    .content .mobile .mob-img {
        width: 100%;
    }

    .content .downloadct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 440px;
        height: 375px;
        flex-wrap: wrap;
        padding: 15px;
    }

    .downloadct .logo {
        width: 25%;
        align-items: center;
    }

    .downloadct .logo-img {
        width: 130px;
        height: 130px;
        align-items: center;
    }

    .downloadct .lines h1 {
        font-size: 24px;
    }

    .downloadct .lines p {
        font-size: 13px;
        padding: 0px 70px 0px 70px;
    }

    .content .buttqr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        width: 440px;
        height: 210px;
        flex-wrap: wrap;
    }

    .buttqr .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 50px;
        align-items: center;
    }

    .buttqr .buttons .g-play, .appstore {
        width: 60%;
    }

    .buttqr .qr {
        width: 100%;
        margin-top: 40px;
        align-items: center;
    }

    .buttqr .qr .qrc {
        width: 50%;
        height: auto;
    }

}

@media (max-width: 768px) and (min-width: 426px) {
    .header {
        width: 100%;
        padding: 10px;
    }

    .nav ul {
        margin: 20px 0px 10px 190px;
        padding: 10px;
    }

    .content .mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
        gap: 20px;
        align-items: start;
        position: relative;
    }

    .content .mobile .mob-img {
        width: 100%;
    }

    .content .downloadct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: 365px;
        flex-wrap: wrap;
        padding: 15px;
    }

    .downloadct .logo {
        width: 30%;
        align-items: center;
    }

    .downloadct .logo-img {
        width: 110px;
        height: 110px;
        align-items: center;
    }

    .downloadct .lines h1 {
        font-size: 24px;
    }

    .downloadct .lines p {
        font-size: 13px;
        padding: 0px 70px 0px 70px;
    }


    .content .buttqr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        width: 350px;
        height: 200px;
        flex-wrap: wrap;
    }

    .buttqr .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 50px;
        align-items: center;
    }

    .buttqr .buttons .g-play, .appstore {
        width: 70%;
    }

    .buttqr .qr {
        width: 100%;
        margin-top: 50px;
        align-items: center;
    }

    .buttqr .qr .qrc {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 425px) and (min-width: 376px) {
    .header {
        width: 100%;
        padding: 10px;
    }

    .nav ul {
        margin: 20px 10px 10px 25px;
        width: 80%;
        padding: 10px;
    }

    .body-container {
        padding: 10px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
    }

    .content .mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        height: 100%;
        gap: 10px;
        align-items: center;
        position: relative;
    }

    .content .mobile .mob-img {
        width: 100%;
    }

    .content .right-side {
        display: flex;
        align-items: flex-end;
    }

    .content .downloadct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 15px 0px 15px 0px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 0px;
    }

    .downloadct .logo {
        width: 40%;
        align-items: center;
    }

    .downloadct .logo-img {
        width: 130px;
        height: 130px;
        align-items: center;
    }

    .downloadct .lines h1 {
        font-size: 25px;
    }

    .downloadct .lines p {
        font-size: 15px;
        padding: 0px 30px 0px 30px;
    }

    .content .buttqr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        height: 100%;
        flex-wrap: wrap;
    }

    .buttqr .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
        align-items: center;
    }

    .buttqr .buttons .g-play, .appstore {
        width: 80%;
    }

    .buttqr .qr {
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
        align-items: center;
    }

    .buttqr .qr .qrc {
        width: 60%;
        height: auto;
    }
}

@media (max-width: 375px) and (min-width: 321px) {
    .header {
        width: 100%;
        padding: 10px;
    }

    .nav ul {
        margin: 20px 20px 10px 61px;
        width: 70%;
        padding: 10px;
    }

    .body-container {
        padding: 10px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
    }

    .content .mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        height: 100%;
        gap: 10px;
        align-items: center;
        position: relative;
    }

    .content .mobile .mob-img {
        width: 100%;
    }

    .content .right-side {
        display: flex;
        align-items: flex-end;
    }

    .content .downloadct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 15px 0px 15px 0px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 0px;
    }

    .downloadct .logo {
        width: 40%;
        align-items: center;
    }

    .downloadct .logo-img {
        width: 130px;
        height: 130px;
        align-items: center;
    }

    .downloadct .lines h1 {
        font-size: 25px;
    }

    .downloadct .lines p {
        font-size: 15px;
        padding: 0px 30px 0px 30px;
    }

    .content .buttqr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        height: 100%;
        flex-wrap: wrap;
    }

    .buttqr .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
        align-items: center;
    }

    .buttqr .buttons .g-play, .appstore {
        width: 80%;
    }

    .buttqr .qr {
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
        align-items: center;
    }

    .buttqr .qr .qrc {
        width: 60%;
        height: auto;
    }
}

@media (max-width: 320px) and (min-width: 280px) {
    .header {
        width: 100%;
        padding: 10px;
    }

    .nav ul {
        margin: 20px 10px 10px 62px;
        width: 60%;
        padding: 10px;
    }

    .body-container {
        padding: 10px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
    }

    .content .mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        height: 100%;
        gap: 10px;
        align-items: center;
        position: relative;
    }

    .content .mobile .mob-img {
        width: 100%;
    }

    .content .right-side {
        display: flex;
        align-items: flex-end;
    }

    .content .downloadct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 15px 0px 15px 0px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 0px;
    }

    .downloadct .logo {
        width: 40%;
        align-items: center;
    }

    .downloadct .logo-img {
        width: 130px;
        height: 130px;
        align-items: center;
    }

    .downloadct .lines h1 {
        font-size: 25px;
    }

    .downloadct .lines p {
        font-size: 15px;
        padding: 0px 30px 0px 30px;
    }

    .content .buttqr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        height: 100%;
        flex-wrap: wrap;
    }

    .buttqr .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
        align-items: center;
    }

    .buttqr .buttons .g-play, .appstore {
        width: 80%;
    }

    .buttqr .qr {
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
        align-items: center;
    }

    .buttqr .qr .qrc {
        width: 60%;
        height: auto;
    }
}