@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    /* height: auto; */
}

* {
    font-family: "PT Sans";
}

/* css for the font */
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.layout-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

/* Navbar Styles */
.navbar {
    z-index: 10;
    position: relative;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 40px;
}

.logo {
    width: 90px;
    height: auto;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    font-size: 40px;
    color: #1472cf;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle:hover .fa-bars {
    transform: rotate(90deg);
}

.nav {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav.active {
    display: block;
    opacity: 1;
    position: absolute;
    right: 20px;
    width: 90%;
    max-width: 350px;
    height: auto;
    top: 60px;
    animation: dropdown 0.5s ease-in-out forwards;
}

@keyframes dropdown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.underline {
    background-color: white;
    height: 1px;
    width: 80%;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    background: linear-gradient(135deg, #1472cf, #65c7f7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 20px 0px 10px 170px;
    padding: 10px;
    z-index: 1;
    top: 0;
    position: sticky;
    border-radius: 20px;
}

.nav li {
    padding: 10px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #ffdd57;
    /* Hover color */
}

/* Additional Menu Toggle Animation */
@keyframes menuToggleAnimation {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.body-container {
    padding: 5px 0px 0px 0px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.team .title h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #1472cf;
}

.off-head-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 60px;
    justify-items: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 40%;
}

.team .head h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1472cf;
}

/* team 1 */
.team .off-head-grid .team1 {
    width: 40%;
    height: 330px;
    background: linear-gradient(#5ed5eb, #1a98ff, #4876b9, #5ed5eb);
    margin-bottom: 20px;
    padding: 10px;
    grid-column: 1 / 3;
    /* Span across both columns */
    grid-row: 1;
    /* Place in the first row */
    text-align: center;
    /* Center the content of team1 */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.team-img1 {
    width: 190px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.team-cont1 {
    text-align: center;
    color: white;
    margin-top: 65px;
    padding: 3px;
}

/* team 2 */
.team .off-head-grid .team2 {
    width: 85%;
    height: 330px;
    background: linear-gradient(#5ed5eb, #1a98ff, #4876b9, #5ed5eb);
    margin-bottom: 20px;
    padding: 10px;
    grid-column: 1;
    /* Place in the first column */
    grid-row: 2;
    /* Place in the second row */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.team-img2 {
    width: 190px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.team-cont2 {
    text-align: center;
    color: white;
    margin-top: 65px;
    padding: 3px;
}

/* team 3 */
.team .off-head-grid .team3 {
    width: 85%;
    height: 330px;
    background: linear-gradient(#5ed5eb, #1a98ff, #4876b9, #5ed5eb);
    margin-bottom: 20px;
    padding: 10px;
    grid-column: 2;
    /* Place in the second column */
    grid-row: 2;
    /* Place in the second row */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.team-img3 {
    width: 190px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.team-cont3 {
    text-align: center;
    color: white;
    margin-top: 65px;
    padding: 3px;
}


.buss-depart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 50%;
    column-gap: 300px;
    row-gap: 50px;
    align-content: center;
}

/* team 4, 5, 6 & 7 */
.team .buss h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1472cf;
}

.team .buss-depart-grid .team4, .team .buss-depart-grid .team5, .team .buss-depart-grid .team6, .team .buss-depart-grid .team7, .team .buss-depart-grid .team8, .team .buss-depart-grid .team9, .team .buss-depart-grid .team10 {
    width: 85%;
    height: 200px;
    background: linear-gradient(#5ed5eb, #1a98ff, #4876b9, #5ed5eb);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.team-img10 {
    width: 190px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.team-cont10 {
    text-align: center;
    color: white;
    margin-top: 65px;
    padding: 3px;
}


.team-img4, .team-img5, .team-img6, .team-img7, .team-img8, .team-img9, .team-img10, .team-img11 {
    width: 190px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.team-cont4, .team-cont5, .team-cont6, .team-cont7, .team-cont8, .team-cont9, .team-cont10, .team-cont11 {
    text-align: center;
    color: white;
    margin-top: 25px;
    padding: 3px;
}


/* IT Department */
/* .it-depart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 70%;
    gap: 60px;
    align-content: center;
} */

/* team 12 */
.team .it h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1472cf;
}

/* team 13 */
/* .team .it-depart-grid .team13 {
    width: 100%;
    height: 170px;
    background: linear-gradient(#5ed5eb, #1a98ff, #4876b9, #5ed5eb);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.team-img13 {
    width: 190px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.team-cont13 {
    text-align: center;
    color: white;
    margin-top: 25px;
    padding: 3px;
} */


/* team 14 */
/* .team .it-depart-grid .team14 {
    width: 100%;
    height: 170px;
    background: linear-gradient(#5ed5eb, #1a98ff, #4876b9, #5ed5eb);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.team-img14 {
    width: 190px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.team-cont14 {
    text-align: center;
    color: white;
    margin-top: 25px;
    padding: 3px;
} */

.team1:hover, .team2:hover, .team3:hover, .team4:hover, .team5:hover, .team6:hover, .team7:hover, .team8:hover, .team9:hover, .team10:hover, .team11:hover, .team12:hover, .team13:hover, .team14:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#0e83e3, #99d1ff, #65c7f7);
}



/* General styling for the container */

.unit-heads .unit h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1472cf;
}

.unit-heads {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the navigation menu */
.navv ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.navv ul li {
    padding: 10px 20px;
    cursor: pointer;
    background: #007bff;
    color: white;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.navv ul li:hover {
    color: #ff6b6b;
}

.navv ul li:hover {
    background: #0056b3;
}

/* Styling for the detail sections */
.details .detail-grid {
    display: none;
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.details .detail-grid.active {
    display: block;
}

/* Footer styles */

.footer {
    background: rgb(255, 255, 255);
    /* background: linear-gradient(0deg, rgb(152, 170, 230) 0%, rgb(241, 242, 245) 55%); */
    box-shadow: 0px -12px 25px rgba(228, 237, 250, 0.8);
    /* Adjusted to have a negative y-offset */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    margin-top: auto;
}

.footer .foot .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
}

.logoQR {
    position: relative;
    top: 40px;
    left: 40px;
}

.logoQR .citypaylog {
    position: relative;
    width: 18%;
    height: auto;
    margin: 22px 2px 2px 2px;
    padding: 25px 5px 5px 15px;
}

.logoQR .QRcode {
    position: relative;
    width: 18%;
    height: auto;
    margin: 25px 2px 2px 2px;
    padding: 25px 5px 5px 15px;
}

.dwbuttons {
    margin: 5px 2px 2px 10px;
    padding: 7px 2px 2px 5px;
}

.logimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dwbuttons .logimg .download-btn {
    width: 100px;
    height: 35px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    align-content: center;
}

.dwbuttons .tit {
    width: 100%;
}

.dwbuttons .tit h3 {
    font-size: medium;
    font-weight: bold;
    width: 100%;
}

.playstore, .appstore {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.download-btn {
    width: 200px;
    height: auto;
}

.playstore {
    width: 100%;
    height: 100%;
}

.appstore {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    position: relative;
    right: 0px;
}

.info .basic {
    margin: 4px 0px 4px 0px;
    padding: 4px 10px 4px 0px;
    width: 100%;
    position: relative;
    right: 80px;
}

.info .basic p {
    font-weight: normal;
    padding-top: 10px;
    font-size: medium;
}

.info .basic .Email p {
    width: 220px;
}

.info .basic .connect p {
    font-weight: bold;
    color: #0D60B5;
    font-size: large;
}

.connect {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.connect .soc {
    position: relative;
    left: 12px;
}

.connect {
    width: 100%;
    margin: 10px 10px 10px 30px;
    padding: 10px 50px 50px 30px;
}

.connect p {
    font-weight: bolder;
}

.connect .fb {
    width: 25px;
    height: auto;
}

.connect .ytb {
    width: 25px;
    height: auto;
}

.connect .lkdn {
    width: 25px;
    height: auto;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    width: 100%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff6b6b;
}

/* Become Agent Button */
.agent {
    float: right;
    border-radius: 10px;
    background-color: #0d60b5;
    padding: 10px 10px;
    border: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    margin: 1px 20px 20px 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.agent:hover {
    background-color: white;
    color: #0d60b5;
}

.soc svg:hover {
    transform: scale(1.2);
    /* Increase the size of the icon on hover */
}

.copyright {
    align-items: center;
    margin: 10px 1px 1px 1px;
    padding: 30px 1px 1px 1px;
}

.copyright p {
    text-align: center;
    color: rgb(0, 0, 0);
}

/* Media Queries */
@media (max-width:2560px) and (min-width: 1441px) {
    .nav ul {
        margin: 20px 10px 10px 210px;
        width: 40%;
        padding: 10px;
    }

    .team .off-head-grid .team1 .team-img1,
    .team .off-head-grid .team2 .team-img2,
    .team .off-head-grid .team3 .team-img3 {
        width: 175px;
        height: 160px;
    }

    .team .off-head-grid .team1 .team-img1 .img1,
    .team .off-head-grid .team2 .team-img2 .img2,
    .team .off-head-grid .team3 .team-img3 .img3 {
        width: 210px;
        height: 240px;
    }

    .team .buss-depart-grid .team4 .team-img4,
    .team .buss-depart-grid .team5 .team-img5,
    .team .buss-depart-grid .team6 .team-img6,
    .team .buss-depart-grid .team7 .team-img7,
    .team .buss-depart-grid .team8 .team-img8,
    .team .buss-depart-grid .team9 .team-img9,
    .team .buss-depart-grid .team9 .team-img10,
    .team .buss-depart-grid .team9 .team-img11 {
        width: 175px;
        height: 170px;
    }

    .team .buss-depart-grid .team4 .team-img4 .img4,
    .team .buss-depart-grid .team5 .team-img5 .img5,
    .team .buss-depart-grid .team6 .team-img6 .img6,
    .team .buss-depart-grid .team7 .team-img7 .img7,
    .team .buss-depart-grid .team8 .team-img8 .img8,
    .team .buss-depart-grid .team9 .team-img9 .img9,
    .team .buss-depart-grid .team9 .team-img10 .img10,
    .team .buss-depart-grid .team9 .team-img11 .img11 {
        width: 175px;
        height: 170px;
    }

    .team .it-depart-grid .team9 .team-img12 .img12,
    .team .it-depart-grid .team9 .team-img13 .img13,
    .team .it-depart-grid .team9 .team-img14 .img14 {
        width: 175px;
        height: 170px;
    }

    .footer-links {
        position: relative;
        right: 20px;
    }
}


@media (max-width:1440px) and (min-width: 1025px) {
    .navv ul {
        margin: 20px 10px 10px 20px;
        width: 100%;
        padding: 10px;
    }

    .navv {
        display: flex;
        align-items: center;
    }

    .unit-heads {
        width: 90%;
    }

    .navv ul {
        gap: 15px;
    }

    .navv ul li {
        padding: 8px 16px;
    }


    .team .off-head-grid .team1 .team-img1,
    .team .off-head-grid .team2 .team-img2,
    .team .off-head-grid .team3 .team-img3 {
        width: 175px;
        height: 170px;
    }

    .team .off-head-grid .team1 .team-img1 .img1,
    .team .off-head-grid .team2 .team-img2 .img2,
    .team .off-head-grid .team3 .team-img3 .img3 {
        width: 190px;
        height: 220px;
    }

    .team .buss-depart-grid .team4 .team-img4,
    .team .buss-depart-grid .team5 .team-img5,
    .team .buss-depart-grid .team6 .team-img6,
    .team .buss-depart-grid .team7 .team-img7,
    .team .buss-depart-grid .team8 .team-img8,
    .team .buss-depart-grid .team9 .team-img9,
    .team .buss-depart-grid .team9 .team-img10,
    .team .buss-depart-grid .team9 .team-img11 {
        width: 175px;
        height: 170px;
    }

    .team .buss-depart-grid .team4 .team-img4 .img4,
    .team .buss-depart-grid .team5 .team-img5 .img5,
    .team .buss-depart-grid .team6 .team-img6 .img6,
    .team .buss-depart-grid .team7 .team-img7 .img7,
    .team .buss-depart-grid .team8 .team-img8 .img8,
    .team .buss-depart-grid .team9 .team-img9 .img9,
    .team .buss-depart-grid .team9 .team-img10 .img10,
    .team .buss-depart-grid .team9 .team-img11 .img11 {
        width: 190px;
        height: 220px;
    }

    .team .it-depart-grid .team9 .team-img12 .img12,
    .team .it-depart-grid .team9 .team-img13 .img13,
    .team .it-depart-grid .team9 .team-img14 .img14 {
        width: 190px;
        height: 220px;
    }

    .team-cont1,
    .team-cont2,
    .team-cont3,
    .team-cont4,
    .team-cont5,
    .team-cont6,
    .team-cont7,
    .team-cont8,
    .team-cont9,
    .team-cont10,
    .team-cont11,
    .team-cont12,
    .team-cont13,
    .team-cont14 {
        text-align: center;
        margin-top: 50px;
    }

    /* Footer */

    .footer {
        padding: 20px 0px 20px 20px;
    }

    .footer .logoQR .citypaylog {
        width: 22%;
    }

    .footer .logoQR .QRcode {
        width: 22%;
    }

    .footer .info .basic {
        position: relative;
        left: 50px;
    }

    .footer .info p {
        font-size: 13px;
    }

    .footer .footer-links {
        margin: 1px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        width: 80%;
    }

    .footer .footer-links a {
        font-size: small;
    }

    .footer-links h4 {
        font-size: medium;
    }

    .footer .logimg .download-btn {
        width: 90px;
        height: 30px;
        margin: 2px 2px 2px 5px;
    }

    .connect {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        width: 200px;
    }

    .connect .soc {
        position: relative;
        left: 7px;
    }

    .connect .fb {
        width: 22px;
        height: auto;
    }

    .connect .ytb {
        width: 22px;
        height: auto;
    }

    .connect .lkdn {
        width: 22px;
        height: auto;
    }
}

@media (max-width:1024px) and (min-width: 769px) {

    .navv ul {
        margin: 20px 50px 10px 15px;
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }

    .navv {
        display: flex;
        align-items: center;
    }

    .unit-heads {
        width: 90%;
    }

    .navv ul {
        gap: 15px;
    }

    .navv ul li {
        padding: 8px 16px;
    }

    .team .off-head-grid .team1 .team-img1,
    .team .off-head-grid .team2 .team-img2,
    .team .off-head-grid .team3 .team-img3 {
        width: 175px;
        height: 170px;
    }

    .team .off-head-grid .team1 .team-img1 .img1,
    .team .off-head-grid .team2 .team-img2 .img2,
    .team .off-head-grid .team3 .team-img3 .img3 {
        width: 160px;
        height: 180px;
    }

    .team .buss-depart-grid .team4 .team-img4,
    .team .buss-depart-grid .team5 .team-img5,
    .team .buss-depart-grid .team6 .team-img6,
    .team .buss-depart-grid .team7 .team-img7,
    .team .buss-depart-grid .team8 .team-img8,
    .team .buss-depart-grid .team9 .team-img9,
    .team .buss-depart-grid .team9 .team-img10,
    .team .buss-depart-grid .team9 .team-img11 {
        width: 175px;
        height: 170px;
    }

    .team .buss-depart-grid .team4 .team-img4 .img4,
    .team .buss-depart-grid .team5 .team-img5 .img5,
    .team .buss-depart-grid .team6 .team-img6 .img6,
    .team .buss-depart-grid .team7 .team-img7 .img7,
    .team .buss-depart-grid .team8 .team-img8 .img8,
    .team .buss-depart-grid .team9 .team-img9 .img9,
    .team .buss-depart-grid .team9 .team-img10 .img10,
    .team .buss-depart-grid .team9 .team-img11 .img11 {
        width: 160px;
        height: 180px;
    }

    .team .it-depart-grid .team9 .team-img12 .img12,
    .team .it-depart-grid .team9 .team-img13 .img13,
    .team .it-depart-grid .team9 .team-img14 .img14 {
        width: 160px;
        height: 180px;
    }


    .team-cont1,
    .team-cont2,
    .team-cont3,
    .team-cont4,
    .team-cont5,
    .team-cont6,
    .team-cont7,
    .team-cont8,
    .team-cont9,
    .team-cont10,
    .team-cont11,
    .team-cont12,
    .team-cont13,
    .team-cont14 {
        font-size: 13px;
        text-align: center;
        margin-top: 70px;
    }

    /* Footer */

    .footer {
        padding: 0px;
    }

    .footer .row {
        position: relative;
        right: 50px;
    }

    .footer .logoQR {
        display: flex;
        flex-direction: column;
    }

    .footer .logoQR .citypaylog {
        width: 30%;
        position: relative;
        left: 40px;
        padding: 5px;
        margin: 5px;
    }

    .footer .logoQR .QRcode {
        width: 30%;
        position: relative;
        left: 40px;
        padding: 5px;
    }

    .footer .dwbuttons {
        position: relative;
        left: 20px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 12px;
    }

    .footer .dwbuttons .logimg {
        position: relative;
        left: 50px;
        display: flex;
        flex-direction: column;
    }

    .footer .dwbuttons .logimg .download-btn {
        position: relative;
        right: 42px;
    }

    .footer .info .basic {
        position: relative;
        left: 70px;
        width: 80%;
    }

    .footer .info p {
        font-size: 11px;
    }

    .footer .footer-links {
        margin: 1px 10px 1px 1px;
        padding: 1px 20px 1px 1px;
        position: relative;
        right: 100px;
        top: 50px;
    }

    .footer .footer-links a {
        font-size: x-small;
    }

    .footer-links h4 {
        font-size: medium;
    }

    .footer-links .agent {
        font-size: 10px;
        padding: 10px;
        width: 50%;
    }

    .footer .logimg .download-btn {
        width: 70px;
        height: 25px;
        margin: 2px 2px 2px 5px;
    }

    .connect {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        width: 200px;
        position: relative;
        right: 100px;
    }

    .connect .soc {
        position: relative;
        left: 3px;
    }

    .connect .fb {
        width: 20px;
        height: auto;
    }

    .connect .ytb {
        width: 20px;
        height: auto;
    }

    .connect .lkdn {
        width: 20px;
        height: auto;
    }

    .footer .copyright p {
        font-size: smaller;
    }
}

@media (max-width: 768px) and (min-width:426px) {
    .navv ul {
        margin: 20px 10px 1px 10px;
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr;
    }

    .navv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unit-heads {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .navv ul {
        gap: 12px;
    }

    .navv ul li {
        padding: 8px 16px;
    }

    .body-container {
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .team {
        padding: 10px;
        margin: 10px;
        width: 90%;
    }

    .team-grid {
        grid-template-columns: 1fr 1fr;
        /* Stack all items in a single column */
        width: 100%;
        gap: 50px;
        padding: 5px;
        margin: 0;
        align-self: center;
    }

    .off-head-grid {
        align-items: center;
        width: 100%;
        gap: 12px;
    }

    .buss-depart-grid {
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    /* Toggle button */
    .toggle-button {
        cursor: pointer;
        padding: 5px 10px;
        background-color: #1472cf;
        color: white;
        border: none;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
        display: inline-flex;
        align-items: center;
        width: 23%;
        position: absolute;
        left: 39%
    }

    .it-depart-grid {
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .team .off-head-grid .team1,
    .team .off-head-grid .team2,
    .team .off-head-grid .team3 {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .team .buss-depart-grid .team4,
    .team .buss-depart-grid .team5,
    .team .buss-depart-grid .team6,
    .team .buss-depart-grid .team7,
    .team .buss-depart-grid .team8,
    .team .buss-depart-grid .team9,
    .team .buss-depart-grid .team10,
    .team .buss-depart-grid .team11 {
        width: 100%;
        height: 100%;
        padding: 0;
    }


    .team .it-depart-grid .team12,
    .team .it-depart-grid .team13,
    .team .it-depart-grid .team14 {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .team .off-head-grid .team1 .team-img1,
    .team .off-head-grid .team2 .team-img2,
    .team .off-head-grid .team3 .team-img3 {
        width: 175px;
        height: 170px;
    }

    .team .off-head-grid .team1 .team-img1 .img1,
    .team .off-head-grid .team2 .team-img2 .img2,
    .team .off-head-grid .team3 .team-img3 .img3 {
        width: 225px;
        height: 250px;
        margin-top: 15px;
    }

    .team .buss-depart-grid .team4 .team-img4,
    .team .buss-depart-grid .team5 .team-img5,
    .team .buss-depart-grid .team6 .team-img6,
    .team .buss-depart-grid .team7 .team-img7,
    .team .buss-depart-grid .team8 .team-img8,
    .team .buss-depart-grid .team9 .team-img9,
    .team .buss-depart-grid .team9 .team-img10,
    .team .buss-depart-grid .team9 .team-img11 {
        width: 175px;
        height: 170px;
    }

    .team .buss-depart-grid .team4 .team-img4 .img4,
    .team .buss-depart-grid .team5 .team-img5 .img5,
    .team .buss-depart-grid .team6 .team-img6 .img6,
    .team .buss-depart-grid .team7 .team-img7 .img7,
    .team .buss-depart-grid .team8 .team-img8 .img8,
    .team .buss-depart-grid .team9 .team-img9 .img9,
    .team .buss-depart-grid .team9 .team-img10 .img10,
    .team .buss-depart-grid .team9 .team-img11 .img11 {
        width: 160px;
        height: 180px;
    }

    .team .it-depart-grid .team9 .team-img12 .img12,
    .team .it-depart-grid .team9 .team-img13 .img13,
    .team .it-depart-grid .team9 .team-img14 .img14 {
        width: 160px;
        height: 180px;
    }

    .team-cont1,
    .team-cont2,
    .team-cont3,
    .team-cont4,
    .team-cont5,
    .team-cont6,
    .team-cont7,
    .team-cont8,
    .team-cont9,
    .team-cont10,
    .team-cont11,
    .team-cont12,
    .team-cont13,
    .team-cont14 {
        font-size: 13px;
        text-align: center;
        margin-top: 90px;
        padding: 5px;
    }

    /* Footer */

    .footer {
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .footer .foot {
        width: 100%;
        position: relative;
    }

    .footer .row {
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;

    }

    .footer .row .logoQR {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-content: center;
        top: 0;
        left: 0;
        margin: 30px 0px 0px 0px;
    }

    .footer .row .logoQR .citypaylog {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 5px;
    }

    .footer .row .logoQR .QRcode {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 2px 0px 0px 0px;
    }

    .footer .row .logoQR .dwbuttons {
        position: relative;
        right: 0px;
        width: 50%;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 12px;
        text-align: center;
    }

    .footer .dwbuttons .logimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .footer .dwbuttons .logimg .download-btn {
        width: 80px;
        height: auto;
        margin: 0px 0px 0px 10px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footer .info .basic {
        padding: 5px;
        margin: 95px 5px 0px 25px;
        width: 70%;
        position: relative;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basic div {
        width: 100%;
    }

    .info .basic p {
        font-size: 11px;
        margin: 2px;
        padding: 2px;
        text-align: left;
    }

    .footer .info .basic .Email p {
        width: 100%;
    }

    .connect {
        padding: 5px;
        margin: 5px 5px 35px 5px;
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect p {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 25px;
        height: auto;
    }

    .connect .ytb {
        width: 25px;
        height: auto;
    }

    .connect .lkdn {
        width: 25px;
        height: auto;
    }

    .footer .footer-links {
        margin: 45px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links a {
        font-size: 10px;
    }

    .footer-links h4 {
        font-size: 12px;
    }

    .footer-links .agent {
        font-size: 6px;
        padding: 5px;
        width: 50%;
    }

    .footer .copyright p {
        font-size: x-small;
    }
}

@media (max-width: 425px) and (min-width:376px) {

    .nav ul {
        margin: 20px 10px 10px 25px;
        width: 80%;
        padding: 10px;
    }

    .navv ul {
        margin: 20px 10px 1px 10px;
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr;
    }

    .navv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unit-heads {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .navv ul {
        gap: 12px;
    }

    .navv ul li {
        padding: 8px 16px;
    }

    .details .detail-grid {
        padding: 15px;
    }

    .body-container {
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team {
        padding: 10px;
        margin: 10px;
        width: 90%;
    }

    .team-grid {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .off-head-grid {
        align-items: center;
        width: 100%;
    }

    .team .off-head-grid .team1, .team .off-head-grid .team2, .team .off-head-grid .team3 {
        width: 90%;
        height: 270px;
    }

    .team-img1, .team-img2, .team-img3 {
        width: 100px;
        height: 100px;
    }

    .buss-depart-grid {
        align-items: center;
        width: 100%;
        gap: 35px;
    }

    .team .buss-depart-grid .team4, .team .buss-depart-grid .team5, .team .buss-depart-grid .team6, .team .buss-depart-grid .team7, .team .buss-depart-grid .team8, .team .buss-depart-grid .team9, .team .buss-depart-grid .team10, .team .buss-depart-grid .team11 {
        width: 90%;
        height: 200px;
    }

    /* Toggle button */
    .toggle-button {
        cursor: pointer;
        padding: 5px 10px;
        background-color: #1472cf;
        color: white;
        border: none;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
        display: inline-flex;
        align-items: center;
        width: 41%;
        position: absolute;
        left: 30%
    }

    .it-depart-grid {
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .team .it-depart-grid .team12, .team .it-depart-grid .team13, .team .it-depart-grid .team14 {
        width: 85%;
        height: 200px;
    }

    .team .team-grid .team1 .team-img1,
    .team .team-grid .team2 .team-img2,
    .team .team-grid .team3 .team-img3,
    .team .team-grid .team4 .team-img4,
    .team .team-grid .team5 .team-img5,
    .team .team-grid .team6 .team-img6,
    .team .team-grid .team7 .team-img7,
    .team .team-grid .team8 .team-img8,
    .team .team-grid .team9 .team-img9,
    .team .team-grid .team9 .team-img10,
    .team .team-grid .team9 .team-img11,
    .team .team-grid .team9 .team-img12,
    .team .team-grid .team9 .team-img13,
    .team .team-grid .team9 .team-img14 {
        width: 110px;
        height: 150px;
    }

    .team .off-head-grid .team1 .team-img1,
    .team .off-head-grid .team2 .team-img2,
    .team .off-head-grid .team3 .team-img3 {
        width: 75px;
        height: 100px;
    }

    .team .off-head-grid .team1 .team-img1 .img1,
    .team .off-head-grid .team2 .team-img2 .img2,
    .team .off-head-grid .team3 .team-img3 .img3 {
        width: 160px;
        height: 165px;
        margin-top: 15px;
    }

    .team .buss-depart-grid .team4 .team-img4,
    .team .buss-depart-grid .team5 .team-img5,
    .team .buss-depart-grid .team6 .team-img6,
    .team .buss-depart-grid .team7 .team-img7,
    .team .buss-depart-grid .team8 .team-img8,
    .team .buss-depart-grid .team9 .team-img9,
    .team .buss-depart-grid .team9 .team-img10,
    .team .buss-depart-grid .team9 .team-img11 {
        width: 175px;
        height: 170px;
    }

    .team .buss-depart-grid .team4 .team-img4 .img4,
    .team .buss-depart-grid .team5 .team-img5 .img5,
    .team .buss-depart-grid .team6 .team-img6 .img6,
    .team .buss-depart-grid .team7 .team-img7 .img7,
    .team .buss-depart-grid .team8 .team-img8 .img8,
    .team .buss-depart-grid .team9 .team-img9 .img9,
    .team .buss-depart-grid .team9 .team-img10 .img10,
    .team .buss-depart-grid .team9 .team-img11 .img11 {
        width: 160px;
        height: 180px;
    }

    .team .it-depart-grid .team9 .team-img12 .img12,
    .team .it-depart-grid .team9 .team-img13 .img13,
    .team .it-depart-grid .team9 .team-img14 .img14 {
        width: 160px;
        height: 180px;
    }

    .team-cont1,
    .team-cont2,
    .team-cont3,
    .team-cont4,
    .team-cont5,
    .team-cont6,
    .team-cont7,
    .team-cont8,
    .team-cont9,
    .team-cont10,
    .team-cont11,
    .team-cont12,
    .team-cont13,
    .team-cont14 {
        text-align: center;
        margin-top: 70px;
        padding: 5px;
    }

    /* Footer */
    .footer {
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .footer .foot {
        width: 100%;
        position: relative;
    }

    .footer .row {
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;

    }

    .footer .row .logoQR {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-content: center;
        top: 0;
        left: 0;
        margin: 90px 0px 0px 0px;
    }

    .footer .row .logoQR .citypaylog {
        width: 40%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 5px;
    }

    .footer .row .logoQR .QRcode {
        width: 40%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 2px 0px 0px 0px;
    }

    .footer .row .logoQR .dwbuttons {
        position: relative;
        right: 0px;
        width: 80%;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 12px;
        text-align: center;
    }

    .footer .dwbuttons .logimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .footer .dwbuttons .logimg .download-btn {
        width: 70px;
        height: 25px;
        margin: 0px 0px 0px 20px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footer .info .basic {
        padding: 5px;
        margin: 135px 5px 0px 5px;
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basic div {
        width: 100%;
    }

    .info .basic p {
        font-size: 10px;
        margin: 2px;
        padding: 2px;
        text-align: left;
    }

    .footer .info .basic .Email p {
        width: 100%;
    }

    .connect {
        padding: 5px;
        margin: 5px 5px 35px 5px;
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect p {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 25px;
        height: auto;
    }

    .connect .ytb {
        width: 25px;
        height: auto;
    }

    .connect .lkdn {
        width: 25px;
        height: auto;
    }

    .footer .footer-links {
        margin: 45px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links a {
        font-size: 10px;
    }

    .footer-links h4 {
        font-size: 12px;
    }

    .footer-links .agent {
        font-size: 8px;
        padding: 6px;
        width: 55%;
    }

    .footer .copyright p {
        font-size: x-small;
    }

    .soc svg:hover {
        transform: none;
        /* Remove the hover effect on mobile devices */
    }

}

@media (max-width: 375px) and (min-width:321px) {

    .nav ul {
        margin: 20px 20px 10px 61px;
        width: 70%;
        padding: 10px;
    }

    .unit-heads {
        width: 100%;
        padding: 10px;
    }

    .navv ul {
        margin: 20px 10px 1px 10px;
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr;
    }

    .navv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unit-heads {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .navv ul {
        gap: 12px;
    }

    .navv ul li {
        padding: 8px 16px;
    }

    .details .detail-grid {
        padding: 10px;
    }

    .body-container {
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team {
        padding: 10px;
        margin: 10px;
        width: 90%;
    }

    .team-grid {
        grid-template-columns: 1fr;
        /* Stack all items in a single column */
        width: 80%;
    }

    .off-head-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        width: 100%;
    }

    .team .off-head-grid .team1,
    .team .off-head-grid .team2,
    .team .off-head-grid .team3 {
        width: 90%;
        grid-column: 1;
        grid-row: auto;
    }

    .team-img1, .team-img2, .team-img3 {
        width: 100px;
        height: 100px;
    }

    .buss-depart-grid {
        align-items: center;
        width: 100%;
        gap: 35px;
    }

    .team .buss-depart-grid .team4, .team .buss-depart-grid .team5, .team .buss-depart-grid .team6, .team .buss-depart-grid .team7, .team .buss-depart-grid .team8, .team .buss-depart-grid .team9, .team .buss-depart-grid .team10, .team .buss-depart-grid .team11 {
        width: 90%;
        height: 200px;
    }

    /* Toggle button */
    .toggle-button {
        cursor: pointer;
        padding: 5px 10px;
        background-color: #1472cf;
        color: white;
        border: none;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
        display: inline-flex;
        align-items: center;
        width: 41%;
        position: absolute;
        left: 30%
    }

    .it-depart-grid {
        align-items: center;
        width: 100%;
        gap: 35px;
        display: grid;
        grid-template-columns: 1fr;
    }


    .team .it-depart-grid .team12, .team .it-depart-grid .team13, .team .it-depart-grid .team14 {
        width: 95%;
        height: 200px;
    }



    .team .team-grid .team1 .team-img1,
    .team .team-grid .team2 .team-img2,
    .team .team-grid .team3 .team-img3,
    .team .team-grid .team4 .team-img4,
    .team .team-grid .team5 .team-img5,
    .team .team-grid .team6 .team-img6,
    .team .team-grid .team7 .team-img7,
    .team .team-grid .team8 .team-img8,
    .team .team-grid .team9 .team-img9,
    .team .team-grid .team9 .team-img10,
    .team .team-grid .team9 .team-img11,
    .team .team-grid .team9 .team-img12,
    .team .team-grid .team9 .team-img13,
    .team .team-grid .team9 .team-img14 {
        width: 110px;
        height: 150px;
    }

    .team .off-head-grid .team1 .team-img1,
    .team .off-head-grid .team2 .team-img2,
    .team .off-head-grid .team3 .team-img3 {
        width: 75px;
        height: 100px;
    }

    .team .off-head-grid .team1 .team-img1 .img1,
    .team .off-head-grid .team2 .team-img2 .img2,
    .team .off-head-grid .team3 .team-img3 .img3 {
        width: 210px;
        height: 230px;
        margin-top: 15px;
    }

    .team .buss-depart-grid .team4 .team-img4,
    .team .buss-depart-grid .team5 .team-img5,
    .team .buss-depart-grid .team6 .team-img6,
    .team .buss-depart-grid .team7 .team-img7,
    .team .buss-depart-grid .team8 .team-img8,
    .team .buss-depart-grid .team9 .team-img9,
    .team .buss-depart-grid .team9 .team-img10,
    .team .buss-depart-grid .team9 .team-img11 {
        width: 175px;
        height: 170px;
    }

    .team .buss-depart-grid .team4 .team-img4 .img4,
    .team .buss-depart-grid .team5 .team-img5 .img5,
    .team .buss-depart-grid .team6 .team-img6 .img6,
    .team .buss-depart-grid .team7 .team-img7 .img7,
    .team .buss-depart-grid .team8 .team-img8 .img8,
    .team .buss-depart-grid .team9 .team-img9 .img9,
    .team .buss-depart-grid .team9 .team-img10 .img10,
    .team .buss-depart-grid .team9 .team-img11 .img11 {
        width: 160px;
        height: 180px;
    }

    .team .it-depart-grid .team9 .team-img12 .img12,
    .team .it-depart-grid .team9 .team-img13 .img13,
    .team .it-depart-grid .team9 .team-img14 .img14 {
        width: 160px;
        height: 180px;
    }

    .team-cont1,
    .team-cont2,
    .team-cont3,
    .team-cont4,
    .team-cont5,
    .team-cont6,
    .team-cont7,
    .team-cont8,
    .team-cont9,
    .team-cont10,
    .team-cont11,
    .team-cont12,
    .team-cont13,
    .team-cont14 {
        text-align: center;
        margin-top: 130px;
        padding: 5px;
    }


    /* Footer */
    .footer {
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .footer .foot {
        width: 100%;
        position: relative;
    }

    .footer .row {
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;

    }

    .footer .row .logoQR {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-content: center;
        top: 0;
        left: 0;
        margin: 90px 0px 0px 0px;
    }

    .footer .row .logoQR .citypaylog {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 5px;
    }

    .footer .row .logoQR .QRcode {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 2px 0px 0px 0px;
    }

    .footer .row .logoQR .dwbuttons {
        position: relative;
        right: 0px;
        width: 80%;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 10px;
        text-align: center;
    }

    .footer .dwbuttons .logimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .footer .dwbuttons .logimg .download-btn {
        width: 65px;
        height: 23px;
        margin: 0px 0px 0px 15px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footer .info .basic {
        padding: 5px;
        margin: 135px 5px 0px 5px;
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basic div {
        width: 100%;
    }

    .info .basic p {
        font-size: 9px;
        margin: 2px;
        padding: 2px;
        text-align: left;
    }

    .footer .info .basic .Email p {
        width: 100%;
    }

    .connect {
        padding: 5px;
        margin: 5px 5px 35px 5px;
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect p {
        font-size: 11px;
        width: 100%;
        text-align: center;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 20px;
        height: auto;
    }

    .connect .ytb {
        width: 20px;
        height: auto;
    }

    .connect .lkdn {
        width: 20px;
        height: auto;
    }

    .footer .footer-links {
        margin: 45px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links a {
        font-size: 8px;
    }

    .footer-links h4 {
        font-size: 10px;
    }

    .footer-links .agent {
        font-size: 7px;
        padding: 6px;
        width: 55%;
        border-radius: 5px;
    }

    .footer .copyright p {
        font-size: x-small;
    }

    .soc svg:hover {
        transform: none;
        /* Remove the hover effect on mobile devices */
    }

}

@media (max-width: 320px) and (min-width:280px) {
    .nav ul {
        margin: 20px 10px 10px 62px;
        width: 60%;
        padding: 10px;
    }

    .unit-heads {
        width: 100%;
        padding: 10px;
    }

    .navv ul {
        margin: 20px 10px 1px 10px;
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr;
    }

    .navv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unit-heads {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .navv ul {
        gap: 12px;
    }

    .navv ul li {
        padding: 8px 16px;
    }

    .details .detail-grid {
        padding: 8px;
    }

    .body-container {
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team {
        padding: 10px;
        margin: 10px;
        width: 90%;
    }


    .team-grid {
        grid-template-columns: 1fr;
        /* Stack all items in a single column */
        width: 80%;
    }

    .off-head-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 15px;
        width: 100%;
    }

    .team .off-head-grid .team1,
    .team .off-head-grid .team2,
    .team .off-head-grid .team3 {
        width: 90%;
        grid-column: 1;
        grid-row: auto;
    }


    .team .team-grid .team1 .team-img1,
    .team .team-grid .team2 .team-img2,
    .team .team-grid .team3 .team-img3,
    .team .team-grid .team4 .team-img4,
    .team .team-grid .team5 .team-img5,
    .team .team-grid .team6 .team-img6,
    .team .team-grid .team7 .team-img7,
    .team .team-grid .team8 .team-img8,
    .team .team-grid .team9 .team-img9,
    .team .team-grid .team9 .team-img10,
    .team .team-grid .team9 .team-img11,
    .team .team-grid .team9 .team-img12,
    .team .team-grid .team9 .team-img13,
    .team .team-grid .team9 .team-img14 {
        width: 110px;
        height: 150px;
    }

    .team .off-head-grid .team1 .team-img1,
    .team .off-head-grid .team2 .team-img2,
    .team .off-head-grid .team3 .team-img3 {
        width: 75px;
        height: 100px;
    }

    .team .off-head-grid .team1 .team-img1 .img1,
    .team .off-head-grid .team2 .team-img2 .img2,
    .team .off-head-grid .team3 .team-img3 .img3 {
        width: 210px;
        height: 230px;
        margin-top: 15px;
    }

    .team .buss-depart-grid .team4 .team-img4,
    .team .buss-depart-grid .team5 .team-img5,
    .team .buss-depart-grid .team6 .team-img6,
    .team .buss-depart-grid .team7 .team-img7,
    .team .buss-depart-grid .team8 .team-img8,
    .team .buss-depart-grid .team9 .team-img9,
    .team .buss-depart-grid .team9 .team-img10,
    .team .buss-depart-grid .team9 .team-img11 {
        width: 175px;
        height: 170px;
    }

    .team .buss-depart-grid .team4 .team-img4 .img4,
    .team .buss-depart-grid .team5 .team-img5 .img5,
    .team .buss-depart-grid .team6 .team-img6 .img6,
    .team .buss-depart-grid .team7 .team-img7 .img7,
    .team .buss-depart-grid .team8 .team-img8 .img8,
    .team .buss-depart-grid .team9 .team-img9 .img9,
    .team .buss-depart-grid .team9 .team-img10 .img10,
    .team .buss-depart-grid .team9 .team-img11 .img11 {
        width: 160px;
        height: 180px;
    }

    .team .it-depart-grid .team9 .team-img12 .img12,
    .team .it-depart-grid .team9 .team-img13 .img13,
    .team .it-depart-grid .team9 .team-img14 .img14 {
        width: 160px;
        height: 180px;
    }

    .buss-depart-grid {
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .team .buss-depart-grid .team4, .team .buss-depart-grid .team5, .team .buss-depart-grid .team6, .team .buss-depart-grid .team7, .team .buss-depart-grid .team8, .team .buss-depart-grid .team9, .team .buss-depart-grid .team10, .team .buss-depart-grid .team11 {
        width: 90%;
        height: 200px;
    }

    /* Toggle button */
    .toggle-button {
        cursor: pointer;
        padding: 5px 10px;
        background-color: #1472cf;
        color: white;
        border: none;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
        display: inline-flex;
        align-items: center;
        width: 55%;
        position: absolute;
        left: 22%
    }

    .it-depart-grid {
        align-items: center;
        width: 100%;
        gap: 35px;
        display: grid;
        grid-template-columns: 1fr;
    }


    .team .it-depart-grid .team12, .team .it-depart-grid .team13, .team .it-depart-grid .team14 {
        width: 95%;
        height: 200px;
    }


    .team .off-head-grid .team1 .team-img1,
    .team .off-head-grid .team2 .team-img2,
    .team .off-head-grid .team3 .team-img3 {
        width: 145px;
        height: 155px;
    }

    .team .buss-depart-grid .team4 .team-img4,
    .team .buss-depart-grid .team5 .team-img5,
    .team .buss-depart-grid .team6 .team-img6,
    .team .buss-depart-grid .team7 .team-img7,
    .team .buss-depart-grid .team8 .team-img8,
    .team .buss-depart-grid .team9 .team-img9,
    .team .buss-depart-grid .team9 .team-img10,
    .team .buss-depart-grid .team9 .team-img11 {
        width: 130px;
        height: 145px;
    }

    .team .it-depart-grid .team9 .team-img12,
    .team .it-depart-grid .team9 .team-img13,
    .team .it-depart-grid .team9 .team-img14 {
        width: 130px;
        height: 145px;
    }

    .team-cont1,
    .team-cont2,
    .team-cont3,
    .team-cont4,
    .team-cont5,
    .team-cont6,
    .team-cont7,
    .team-cont8,
    .team-cont9,
    .team-cont10,
    .team-cont11,
    .team-cont12,
    .team-cont13,
    .team-cont14 {
        text-align: center;
        margin-top: 70px;
        padding: 5px;
    }

    /* Footer */

    .footer {
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .footer .foot {
        width: 100%;
        position: relative;
    }

    .footer .row {
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;

    }

    .footer .row .logoQR {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-content: center;
        top: 0;
        left: 0;
        margin: 90px 0px 0px 0px;
    }

    .footer .row .logoQR .citypaylog {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 5px;
    }

    .footer .row .logoQR .QRcode {
        width: 50%;
        position: relative;
        right: 0px;
        padding: 5px;
        margin: 2px 0px 0px 0px;
    }

    .footer .row .logoQR .dwbuttons {
        position: relative;
        right: 0px;
        width: 80%;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .footer .dwbuttons .tit h3 {
        font-size: 9px;
        text-align: center;
    }

    .footer .dwbuttons .logimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .footer .dwbuttons .logimg .download-btn {
        width: 50px;
        height: 18px;
        margin: 0px 0px 0px 15px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footer .info .basic {
        padding: 5px;
        margin: 135px 0px 0px 0px;
        width: 110%;
        position: relative;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basic div {
        width: 100%;
    }

    .info .basic p {
        font-size: 8px;
        margin: 2px;
        padding: 2px;
        text-align: left;
    }

    .footer .info .basic .Email p {
        width: 100%;
    }

    .connect {
        padding: 5px;
        margin: 5px 5px 35px 5px;
        width: 100%;
        position: relative;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect p {
        font-size: 11px;
        width: 100%;
        text-align: center;
    }

    .connect .soc {
        position: relative;
        left: 0px;
    }

    .connect .fb {
        width: 20px;
        height: auto;
    }

    .connect .ytb {
        width: 20px;
        height: auto;
    }

    .connect .lkdn {
        width: 20px;
        height: auto;
    }

    .footer .footer-links {
        margin: 45px 0px 1px 1px;
        padding: 1px 0px 1px 1px;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links a {
        font-size: 7px;
    }

    .footer-links h4 {
        font-size: 9px;
    }

    .footer-links .agent {
        font-size: 6px;
        padding: 5px;
        width: 65%;
        border-radius: 5px;
    }

    .footer .copyright p {
        font-size: x-small;
    }

    .soc svg:hover {
        transform: none;
        /* Remove the hover effect on mobile devices */
    }

}