@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');


* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

.background {
    background: linear-gradient(#fcfcfc, #bce9ff, #88e7f8);
    position: relative;
    left: 0px;
    height: 1200px;
    width: 100%;
    padding: 0;
}

.contact {
    padding: 0px;
    font-size: larger;
    position: relative;
    top: 40px;

}

.contact h2 {
    text-align: center;
    padding-top: 15px;
    color: #0D60B5;
}

.contact i {
    color: #0D60B5;
}

.Office h3 {
    padding-bottom: 10px;
    color: #0D60B5;
}

.Office {
    display: flex;
    flex-direction: column;
    font-size: large;
    padding-bottom: 10px;
    gap: 10px;
    position: relative;
    left: 50px;
    top: 50px;
    width: 28%;
}

.Office h1 {
    color: #0D60B5;
}

.Support {
    position: relative;
    top: 50px;
    left: 50px;
    width: 60%;
    height: 30%;
}

.Support h3 {
    color: #0D60B5;
}

.address-container {
    display: flex;
    align-items: center;
}

.address-container i {
    margin-right: 10px;
}

.po-container {
    display: flex;
    align-items: center;
    width: 60%;
}

.po-container i {
    margin-right: 10px;
}

.Email {
    display: flex;
    align-items: center;
}

.Email i {
    margin-right: 10px;
}

.Tel {
    display: flex;
    align-iTems: center;
}

.Tel i {
    margin-right: 10px;
}

.Call {
    display: flex;
    align-iTems: center;
}

.Call i {
    margin-right: 10px;
}

.tol {
    display: flex;
    align-iTems: center;
}

.tol i {
    margin-right: 10px;
}

.map {
    position: relative;
    left: 200px;
    width: 100%;
    height: 500px;
    bottom: 350px;
}

.map iframe {
    position: relative;
}

.cont1 h3 {
    padding-bottom: 10px;
}

.cont1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 46%;
    height: 10%;
    font-size: large;
    padding-bottom: 10px;
}

@media (max-width: 2560px) and (min-width: 1799px) {}


@media (max-width: 1800px) and (min-width: 1441px) {
    .contact {
        margin: 100px 10px 10px 150px;
        padding: 5px 5px 5px 5px;
    }
}


@media (max-width: 1440px) and (min-width: 1025px) {
    .contact {
        margin: 150px 10px 10px 10px;
        padding: 5px 5px 5px 5px;
    }

    .contact h2 {
        position: relative;
        right: 120px;
    }

    .map iframe {
        width: 65%;
    }
}


@media (max-width: 1024px) and (min-width: 769px) {
    .navMenu a {
        font-size: 0.9em;
    }

    .background {
        width: max-content;
        position: relative;
        left: 125px;
    }

    .contact {
        margin: 10px 10px 10px 1px;
        padding: 5px 5px 5px 5px;
        position: relative;
        right: 25px;
        width: 100%;
        height: 100%;
    }

    .contact h2 {
        position: relative;
        top: 40px;
    }

    .contact .Office {
        width: max-content;
        padding: 1px 15px 1px 1px;
        margin: 1px 25px 1px 1px;
    }

    .contact .Office p {
        width: 100%;
    }

    .Support .cont1 {
        width: 130%;
        height: 230px;
        padding: 1px 15px 1px 1px;
        margin: 1px 15px 1px 1px;
    }

    .Support .cont1 p {
        width: 100%;
    }

    .Support .cont1 .map {
        position: relative;
        top: 200px;
        right: 90px;
    }

    .Support .cont1 .map iframe {
        margin: 1px 1px 1px 1px;
        padding: 10px 10px 10px 10px;
        width: 120%;
        position: relative;
        right: 205px;
    }
}


@media (max-width: 768px) and (min-width: 562px) {
    .navMenu a {
        font-size: 0.9em;
    }

    .background {
        width: max-content;
        position: relative;
        left: 125px;
    }

    .contact {
        margin: 10px 10px 10px 1px;
        padding: 5px 5px 5px 5px;
        position: relative;
        right: 25px;
        width: 100%;
        height: 100%;
    }

    .contact h2 {
        position: relative;
        top: 40px;
    }

    .contact .Office {
        width: max-content;
        padding: 1px 15px 1px 1px;
        margin: 1px 25px 1px 1px;
    }

    .contact .Office p {
        width: 100%;
    }

    .Support .cont1 {
        width: 130%;
        height: 230px;
        padding: 1px 15px 1px 1px;
        margin: 1px 15px 1px 1px;
    }

    .Support .cont1 p {
        width: 100%;
    }

    .Support .cont1 .map {
        position: relative;
        top: 200px;
        right: 90px;
    }

    .Support .cont1 .map iframe {
        margin: 1px 1px 1px 1px;
        padding: 10px 10px 10px 10px;
        width: 120%;
        position: relative;
        right: 205px;
    }
}


@media (max-width: 561px) and (min-width: 426px) {
    .navMenu a {
        font-size: 0.9em;
    }

    .background {
        width: max-content;
        position: relative;
        left: 125px;
    }

    .contact {
        margin: 10px 10px 10px 1px;
        padding: 5px 5px 5px 5px;
        position: relative;
        right: 25px;
        width: 100%;
        height: 100%;
    }

    .contact h2 {
        position: relative;
        top: 40px;
    }

    .contact .Office {
        width: max-content;
        padding: 1px 15px 1px 1px;
        margin: 1px 25px 1px 1px;
    }

    .contact .Office p {
        width: 100%;
    }

    .Support .cont1 {
        width: 130%;
        height: 230px;
        padding: 1px 15px 1px 1px;
        margin: 1px 15px 1px 1px;
    }

    .Support .cont1 p {
        width: 100%;
    }

    .Support .cont1 .map {
        position: relative;
        top: 200px;
        right: 90px;
    }

    .Support .cont1 .map iframe {
        margin: 1px 1px 1px 1px;
        padding: 10px 10px 10px 10px;
        width: 120%;
        position: relative;
        right: 205px;
    }
}


@media (max-width: 425px) and (min-width: 376px) {
    .navMenu a {
        font-size: 0.9em;
    }

    .background {
        width: max-content;
        position: relative;
        left: 125px;
    }

    .contact {
        margin: 10px 10px 10px 1px;
        padding: 5px 5px 5px 5px;
        position: relative;
        right: 25px;
        width: 100%;
        height: 100%;
    }

    .contact h2 {
        position: relative;
        top: 40px;
    }

    .contact .Office {
        width: max-content;
        padding: 1px 15px 1px 1px;
        margin: 1px 25px 1px 1px;
    }

    .contact .Office p {
        width: 100%;
    }

    .Support .cont1 {
        width: 130%;
        height: 230px;
        padding: 1px 15px 1px 1px;
        margin: 1px 15px 1px 1px;
    }

    .Support .cont1 p {
        width: 100%;
    }

    .Support .cont1 .map {
        position: relative;
        top: 200px;
        right: 90px;
    }

    .Support .cont1 .map iframe {
        margin: 1px 1px 1px 1px;
        padding: 10px 10px 10px 10px;
        width: 120%;
        position: relative;
        right: 205px;
    }
}


@media (max-width: 375px) and (min-width: 321px) {
    .navMenu a {
        font-size: 0.9em;
    }

    .background {
        width: max-content;
        position: relative;
        left: 125px;
    }

    .contact {
        margin: 10px 10px 10px 1px;
        padding: 5px 5px 5px 5px;
        position: relative;
        right: 25px;
        width: 100%;
        height: 100%;
    }

    .contact h2 {
        position: relative;
        top: 40px;
    }

    .contact .Office {
        width: max-content;
        padding: 1px 15px 1px 1px;
        margin: 1px 25px 1px 1px;
    }

    .contact .Office p {
        width: 100%;
    }

    .Support .cont1 {
        width: 130%;
        height: 230px;
        padding: 1px 15px 1px 1px;
        margin: 1px 15px 1px 1px;
    }

    .Support .cont1 p {
        width: 100%;
    }

    .Support .cont1 .map {
        position: relative;
        top: 200px;
        right: 90px;
    }

    .Support .cont1 .map iframe {
        margin: 1px 1px 1px 1px;
        padding: 10px 10px 10px 10px;
        width: 120%;
        position: relative;
        right: 205px;
    }
}


@media (max-width: 320px) and (min-width: 280px) {
    .navMenu a {
        font-size: 0.9em;
    }

    .background {
        width: max-content;
        position: relative;
        left: 125px;
    }

    .contact {
        margin: 10px 10px 10px 1px;
        padding: 5px 5px 5px 5px;
        position: relative;
        right: 25px;
        width: 100%;
        height: 100%;
    }

    .contact h2 {
        position: relative;
        top: 40px;
    }

    .contact .Office {
        width: max-content;
        padding: 1px 15px 1px 1px;
        margin: 1px 25px 1px 1px;
    }

    .contact .Office p {
        width: 100%;
    }

    .Support .cont1 {
        width: 130%;
        height: 230px;
        padding: 1px 15px 1px 1px;
        margin: 1px 15px 1px 1px;
    }

    .Support .cont1 p {
        width: 100%;
    }

    .Support .cont1 .map {
        position: relative;
        top: 200px;
        right: 90px;
    }

    .Support .cont1 .map iframe {
        margin: 1px 1px 1px 1px;
        padding: 10px 10px 10px 10px;
        width: 120%;
        position: relative;
        right: 205px;
    }
}