@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  /* height: auto; */
}

* {
  font-family: "PT Sans";
}

/* css for the font */
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* css for landing page */

.header {
  /* background-color: #81b1ce; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  width: 84px;
  font-weight: bold;
}

/* .menu-toggle {
  flex-direction: column;
  cursor: pointer;
  height: 20px;
} */

/* .fa-bars {
  font-size: 40px;
  background-color: #1472cf;
} */

.nav {
  display: none;
}

.nav.active {
  display: block;
  position: absolute;
  right: 20px;
  width: 370px;
  height: 600px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #81b1ce;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.nav li {
  padding: 10px;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 25px;
  color: white;
}
