@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    /* height: auto; */
}

* {
    font-family: "PT Sans";
}

.navbar {
    z-index: 1;
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 20px;
    /* border: 2px solid red; */
}

.logo {
    width: 90px;
    height: auto;
}

.menu-toggle {
    flex-direction: column;
    cursor: pointer;
    height: 20px;
}

.fa-bars {
    font-size: 40px;
    color: #cf1414;
}

.nav {
    display: none;
}

.nav.active {
    display: block;
    position: absolute;
    right: 20px;
    /* top: 60px; */
    width: 350px;
    height: 500px;
}

.underline {
    background-color: white;
    height: 1px;
    width: 80%;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #194a7a;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 15px;
    z-index: 1;
    top: 0;
    position: sticky;
    border-radius: 15px;
}

.nav li {
    padding: 10px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 25px;
    color: white;
}


.curtain {
    background: linear-gradient(#0e83e3, #65c7f7, #88e7f8);
    height: 680px;
    width: 100%;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
}

.curtain h1 {
    color: #FFFFFF;
    font-size: 110px;
}

.curtain p {
    color: #FFFFFF;
    width: 30%;
    font-size: 20px;
}

.curtain .aboutimg {
    float: right;

}

.aboutimg .about-img {
    position: relative;
    bottom: 450px;
    margin: 0px 380px 10px 0px;
}

.Second-Container h1 {
    text-align: center;
    font-weight: 2000;
}

.Second-Container .grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
}

.grids h3 {
    text-align: center;
}

.grids p {
    text-align: justify;
}

.grid-1, .grid-2, .grid-3 {
    width: 350px;
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 25px;
    padding: 20px 20px 20px 25px;
    margin: 5px 5px 15px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the child elements vertically */
}

.icon1, .icon2, .icon3 {
    margin-bottom: 5px;
}

.base {
    background-color: #EAEAEA;
    /* Adjust background color as needed */
    padding: 20px;
    /* Add padding to create space around the content */
    margin-top: auto;
    /* Move the div to the bottom of its container */
}

.base h1 {
    margin-bottom: 10px;
    text-align: center;

    /* Add some space below the heading */
}

.ctxlogo {
    margin: 10px 10px 20px 70px;
    /* Add some space below the logo */
}

.paragraph {
    margin: 80px 150px 40px 0px;
    width: 35%;
    float: right;
}

.paragraph p {
    margin-bottom: 0px;
    text-align: justify;
    font-weight: bold;
    /* Add some space below the paragraph */
}