@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");

* {
    font-family: "Work Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.upper-flow {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    /* Ensure the image covers the entire viewport width */
    height: auto;
    z-index: -1;
    /* Ensure the image stays behind the content */
}

h1 {
    font-family: "PT Sans";
    font-size: 45px;
    color: #0d60b5;
    margin-top: 30px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    text-align: justify;
    overflow: hidden;
}

.team-box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    row-gap: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: relative;
    left: 60px;
}

.grid-one,
.grid-two, .grid-three,
.grid-four, .grid-five, .grid-six {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    width: 364px;
    height: 414px;
    background-color: rgb(231, 229, 229);
    border-radius: 20px;
    padding: 20px 10px 0px 10px;
    margin: 50px 10px 10px 10px;
}


.content1, .content2, .content3, .content4, .content5, .content6 {
    width: 364px;
    height: 80px;
    background-color: #CFCDCD;
    border-radius: 20px;
    margin-top: auto;
}

.back {
    float: right;
    border-radius: 20px;
    background-color: #0d60b5;
    padding: 15px 32px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 1px 20px 20px 1px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back:hover {
    background-color: white;
    color: #0d60b5;
}