@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* width: auto;
  height: auto; */
  padding: 50px;
  text-align: justify;
  overflow: hidden;
}

h3 {
  font-weight: 600;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-family: "PT Sans";
  font-size: 45px;
  color: #0d60b5;
  margin-top: 30px;
}

.policy .img {
  overflow-x: hidden;
}

.upper-flow {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* Ensure the image covers the entire viewport width */
  height: auto;
  z-index: -1;
  /* Ensure the image stays behind the content */
}

.back {
  float: right;
  border-radius: 20px;
  background-color: #0d60b5;
  padding: 15px 32px;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 1px 20px 20px 1px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back:hover {
  background-color: white;
  color: #0d60b5;
}