@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');


* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

.headingTxt h1 {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(to right, #F53F4A 50%, #0D60B5 20%);
    background-clip: text;
    margin-bottom: 20px;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-weight: 500;
}

.containter {
    width: 400px;
    height: 700px;
}

.box-container {
margin-top: 20px;
}

.sub-heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-bottom: 25px;
}

.what, .mission, .vision, .Innovation, .Reliability, .approach {
    box-shadow: 2px 3px 10px 0px grey;
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}


.sub-heading :hover {
    color: white;
    background: linear-gradient(to right, #F53F4A, #0D60B5);
    transition: fade .1s linear;

}

.what p {
    font-family: "Work Sans";
    font-weight: 400;
}

.approach p {
    font-family: "Work Sans";
    font-weight: 400;
}

.mission p {
    font-family: "Work Sans";
    font-weight: 400;
}

.vision p {
    font-family: "Work Sans";
    font-weight: 400;
}

.Innovation p {
    font-family: "Work Sans";
    font-weight: 400;
}

.Reliability p {
    font-family: "Work Sans";
    font-weight: 400;
}

.promotors {
    /* box-shadow: 1px 5px 15px 3px grey; */
    /* margin-top: 20px; */
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
    /* margin-bottom: 20px; */
    text-align: justify;
    color: white;
    background: linear-gradient(to right, #F53F4A, #0D60B5);
}

h1 {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    background: linear-gradient(to right, #F53F4A 50%, #0D60B5 20%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.promotors p {
    padding-top: 20px;
}

p {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 17px;
}

/*Responsive*/
@media(width>=1800px) {
    .containter {
        width: 400px;
        height: 700px;
    }

.box-container {
    height: 75vh;
}

    .sub-heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-bottom: 25px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 15px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }


    .what {
        width: 550px;
        height: 180px;
    }

    .mission {
        width: 550px;
        height: 180px;
    }

    .vision {
        width: 550px;
        height: 180px;
    }

    .Innovation {
        width: 550px;
        height: 180px;
    }

    .Reliability {
        width: 550px;
        height: 180px;
    }

    .approach {
        width: 550px;
        height: 180px;
    }


    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}


@media(width<=1220px) {
    .containter {
        width: 400px;
        height: 700px;
    }


    .div-con


    .sub-heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-bottom: 25px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 300px;
        height: 330px;
    }

    .mission {
        width: 300px;
        height: 330px;
    }

    .vision {
        width: 300px;
        height: 330px;
    }

    .Innovation {
        width: 300px;
        height: 330px;
    }

    .Reliability {
        width: 300px;
        height: 330px;
    }

    .approach {
        width: 300px;
        height: 330px;
    }

    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}


@media(width<=1140px) {
    .containter {
        width: 400px;
        height: 700px;
    }

    .sub-heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-bottom: 25px;
        margin-left: -80px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 300px;
        height: 330px;

    }

    .mission {
        width: 300px;
        height: 330px;
    }

    .vision {
        width: 300px;
        height: 330px;
        margin-right: 370px;
    }

    .Innovation {
        width: 300px;
        height: 330px;
    }

    .Reliability {
        width: 300px;
        height: 330px;
    }

    .approach {
        width: 300px;
        height: 330px;
    }

    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}


@media(width<=1080px) {
    .containter {
        width: 400px;
        height: 700px;
    }


    .sub-heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-bottom: 25px;
        margin-left: -50px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 270px;
        height: 350px;

    }

    .mission {
        width: 270px;
        height: 350px;
    }

    .vision {
        width: 270px;
        height: 350px;
    }

    .Innovation {
        width: 270px;
        height: 350px;
    }

    .Reliability {
        width: 270px;
        height: 350px;
    }

    .approach {
        width: 270px;
        height: 350px;
    }


    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}


@media(width<=992px) {
    .containter {
        width: 400px;
        height: 700px;
    }

    .sub-heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-bottom: 25px;
        margin-left: -130px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 280px;
        height: 350px;

    }

    .mission {
        width: 280px;
        height: 350px;
    }

    .vision {
        width: 280px;
        height: 350px;
    }

    .Innovation {
        width: 280px;
        height: 350px;
    }

    .Reliability {
        width: 280px;
        height: 350px;
    }

    .approach {
        width: 280px;
        height: 350px;
    }

    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}


@media(width<=940px) {
    .containter {
        width: 400px;
        height: 700px;
    }

    .sub-heading {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        margin-bottom: 25px;
        margin-left: -5px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 280px;
        height: 350px;

    }

    .mission {
        width: 280px;
        height: 350px;
        margin-left: -328px;
    }

    .vision {
        width: 280px;
        height: 350px;
    }

    .Innovation {
        width: 280px;
        height: 350px;
    }

    .Reliability {
        width: 280px;
        height: 350px;
    }

    .approach {
        width: 280px;
        height: 350px;
    }

    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}

@media(width<=800px) {
    .containter {
        width: 400px;
        height: 700px;
    }

    .sub-heading {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        margin-bottom: 25px;
        margin-left: -65px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 280px;
        height: 350px;

    }

    .mission {
        width: 280px;
        height: 350px;

    }

    .vision {
        width: 280px;
        height: 350px;
    }

    .Innovation {
        width: 280px;
        height: 350px;
    }

    .Reliability {
        width: 280px;
        height: 350px;
    }

    .approach {
        width: 280px;
        height: 350px;
    }

    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}


@media(width<=768px) {
    .containter {
        width: 400px;
        height: 700px;
    }

    .sub-heading {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        margin-bottom: 25px;
        align-items: center;
        padding: 30px 30px 30px 155px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 340px;
        height: 350px;

    }

    .mission {
        width: 340px;
        height: 350px;
        margin-left: -1px;

    }

    .vision {
        width: 340px;
        height: 350px;
    }

    .Innovation {
        width: 340px;
        height: 350px;
    }

    .Reliability {
        width: 340px;
        height: 350px;
    }

    .approach {
        width: 340px;
        height: 350px;
    }

    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}


@media(width<=600px) {
    .containter {
        width: 400px;
        height: 700px;
    }

    .sub-heading {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        margin-bottom: 25px;
        align-items: center;
        padding: 30px 30px 30px 50px;
        margin-left: 40px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 340px;
        height: 350px;

    }

    .mission {
        width: 340px;
        height: 350px;
        margin-left: -1px;

    }

    .vision {
        width: 340px;
        height: 350px;
    }

    .Innovation {
        width: 340px;
        height: 350px;
    }

    .Reliability {
        width: 340px;
        height: 350px;
    }

    .approach {
        width: 340px;
        height: 350px;
    }

    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}


@media(width<=476px) {
    .containter {
        width: 400px;
        height: 700px;
    }

    .sub-heading {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        margin-bottom: 25px;
        align-items: center;
        padding: 20px 20px 20px 10px;
    }

    .what, .mission, .vision, .Innovation, .Reliability, .approach {
        box-shadow: 2px 3px 10px 0px grey;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .what {
        width: 340px;
        height: 350px;

    }

    .mission {
        width: 340px;
        height: 350px;
        margin-left: -1px;

    }

    .vision {
        width: 340px;
        height: 350px;
    }

    .Innovation {
        width: 340px;
        height: 350px;
    }

    .Reliability {
        width: 340px;
        height: 350px;
    }

    .approach {
        width: 340px;
        height: 350px;
    }

    .what p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .approach p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .mission p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .vision p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Innovation p {
        font-family: "Work Sans";
        font-weight: 400;
    }

    .Reliability p {
        font-family: "Work Sans";
        font-weight: 400;
    }


    .promotors {
        /* box-shadow: 1px 5px 15px 3px grey; */
        /* margin-top: 20px; */
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        /* margin-bottom: 20px; */
        text-align: justify;
    }

    h1 {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 45px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotors p {
        padding-top: 20px;
    }

    p {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 17px;
    }
}