@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

.services h1 {
    font-family: 'catamaran';
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    background: linear-gradient(to right, #F53F4A 45%, #0D60B5 55%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-contain {
    padding: 95px;
    height: 75vh;
}

.grid-serv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.box-1, .box-2 {
    display: flex;
    justify-content: flex-start;
    border: none;
    font-size: 17px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
    box-shadow: 2px 3px 10px 0px grey;
    border-radius: 15px;
    padding: 16px;
    margin: 8px;
    width: 100%;
}

/*Responsive Part*/

@media(width<=1280) {

    .grid-contain {
        padding: 95px;
        height: 75vh;
    }

    .grid-serv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
    }

    .box-1, .box-2 {
        display: flex;
        justify-content: flex-start;
        border: none;
        font-size: 17px;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        box-shadow: 2px 3px 10px 0px grey;
        border-radius: 15px;
        padding: 16px;
        margin: 8px;
        width: 100%;
    }

}

@media(width<=975px) {
    .grid-serv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
    }

    .box-1, .box-2 {
        display: flex;
        justify-content: flex-start;
        border: none;
        font-size: 1.1em;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        box-shadow: 2px 3px 10px 0px grey;
        border-radius: 15px;
        padding: 16px;
        margin: 8px;
        width: 100%;
    }

}

@media(width<=908px) {
    .grid-serv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
    }

    .box-1, .box-2 {
        display: flex;
        justify-content: flex-start;
        border: none;
        font-size: 1em;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        box-shadow: 2px 3px 10px 0px grey;
        border-radius: 15px;
        padding: 16px;
        margin: 8px;
        width: 100%;
    }
}

@media(width<=786px) {
    .grid-serv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
        padding-top: 75px;
    }

    .services h1 {
        padding-top: 35px;
        margin-bottom: -55px;
    }

    .box-1, .box-2 {
        display: flex;
        justify-content: flex-start;
        border: none;
        font-size: 0.76em;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        box-shadow: 2px 3px 10px 0px grey;
        border-radius: 15px;
        padding: 16px;
        margin: 8px;
        width: 100%;
    }
}

@media(width<=700px) {
    .grid-serv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        padding: 1px;
        padding-top: 75px;
    }

    .services h1 {
        padding-top: 35px;
        margin-bottom: -55px;
        font-size: 2.8em;
    }

    .box-1, .box-2 {
        display: flex;
        justify-content: flex-start;
        border: none;
        font-size: 0.76em;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        box-shadow: 2px 3px 10px 0px grey;
        border-radius: 15px;
        padding: 12px;
        margin: 8px;
        width: 100%;
    }
}

@media(width<=640px) {
    .grid-contain {
        display: flex;
        flex-direction: column;
    }

    .grid-serv {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        column-gap: 20px;
        row-gap: 20px;
        padding: 1px;
        padding-top: 75px;
    }

    .services h1 {
        padding-top: 35px;
        margin-bottom: -55px;
        font-size: 2.8em;
    }

    .box-1, .box-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: none;
        font-size: 0.8em;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        box-shadow: 2px 3px 10px 0px grey;
        border-radius: 15px;
        padding: 12px;
        margin: 8px;
        width: 100%;
        padding-bottom: 1px;
    }
}


@media(width<=540px) {
    .grid-contain {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .grid-serv {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 5px;
        row-gap: 5px;
        padding: 1px;
        padding-top: 45px;
    }

    .services h1 {
        padding-bottom:15px;
        margin-bottom: -65px;
        font-size: 2.3em;
        padding: 10px;
        margin-right: -35px;
    }

    .box-1, .box-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: none;
        font-size: 0.7em;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        box-shadow: 2px 3px 10px 0px grey;
        border-radius: 15px;
        padding: 12px;
        margin: 8px;
        width: 100%;
    }
}