.carousel{
    width: 600px;
    height: 500px;
    overflow: hidden;
}
.carouselimage{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    /* background-size: cover;   
    background-repeat: no-repeat;
    background-position: center; */
}