/* navbar.css */

.menu {
    min-width: 0;
    /* background: #0e83e3; */
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.navbarItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 100%;
    /* Limit maximum width to 100% of the viewport */
    margin: 0 auto;
    /* Center the navbar horizontally */
}

.Logo-Image {
    height: 90px;
}

.Logo-Image img {
    height: 80px;
    width: auto;
}

.nav-about {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s;
}

.playstore,
.appstore {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
}

.playstore img,
.appstore img {
    height: 30px;
    width: auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbarItems {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .Logo-Image {
        height: 50px;
    }

    .Logo-Image img {
        height: 90px;
        width: auto;
    }

    .nav-about {
        padding: 10px;
        text-align: center;
    }

    .playstore,
    .appstore {
        margin: 5px 0;
    }
}