@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");

.menu {
  min-width: 0;
}

.navbarItems {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border: none;
  gap: 50px;
}

.Logo-Image {
  height: 80px;
  width: 120px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Logo-Image img {
  width: 90px;
  height: 80px;
  object-fit: contain;
}

.nav-about {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.playstore {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.playstore img {
  border-radius: 5px;
  height: 45px;
  width: 130px;
}

.appstore {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.appstore img {
  height: 45px;
  width: 130px;
}

.downloadButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.burgerInactiveClass {
  border: 1px solid green;
}

.burgerActiveClass {
  border: 1px solid blue;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.navBarItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navBarItemsContainer a {
  color: white;
}

.navMenu {
  width: 100%;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  color: white;
}

.navMenu a {
  color: white;
}

.hamburgerIconContainer {
  display: none;
}

@media screen and (max-width: 720px) {
  .downloadButtons {
    display: none;
  }

  .itemsContainer {
    display: none;
  }

  .downloadButtons {
    display: none;
  }

  .carousel-container {
    height: 5px;
    width: 0px;
  }

  .carousel-container img.carouselimage {
    display: none;
  }

  .burgerItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hamburgerIconContainer {
    z-index: 1;
    display: flex;
    width: 720px;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: auto;
    padding-left: 50px;
  }

  .burgerActiveClass {
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .navModal {
    height: auto;
    width: 100%;
    color: white;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #0e83e3;
    padding-bottom: 10px;
  }

  .navModal a {
    color: white;
  }

  .navMenu {
    max-width: 100%;
    color: darkblue;
  }
}