.menu{
    /* flex: 1; */
    min-width: 0;
    /* background: #0e83e3; */
}

.navbarItems{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border: none;
    gap: 50px;
}
.Logo-Image{
    padding-top: 15px;
    height: 90px;
    width: 90pX;
    margin-left: 15px;       
}

.Logo-Image img{
    width: 90px;
    height: 80px;
}

.nav-about{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.playstore{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.playstore img{
    height: 45px;
    width: 130px;
}

.appstore{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.appstore img{
    height: 45px;
    width: 130px;
}

