div.post, div.news {
  display: flex;
  padding: 10px;
}

div.post img, div.news img {
  width: 20%
}

div.post div.info, div.news div.info {
  margin: 5px;
  gap: 10px;
  color: #888;
  display: flex;
  font-weight: bold;
}

div.post div.info a.author, div.news div.info a.author {
  color: #333;
}

div.post p.summary, div.news p.summary {
  margin: 10px 0;
  line-height: 1.4rem;
}


.image-container {
  margin-right: 16px;
  /* Adjust margin as needed */
}

.title{
  font-size: large;
  font-weight: bold;
  padding-bottom: 30px;
}

.title{
  padding-bottom: 20px;
}

