div.post {
  display: flex;
  padding: 10px;
}

div.post img {
  width: 20%
}

div.post div.info {
  margin: 5px;
  gap: 10px;
  color: #888;
  display: flex;
  font-weight: bold;
}

div.post div.info a.author {
  color: #333;
}

div.post p.summary {
  margin: 10px 0;
  line-height: 1.4rem;
}

div.blogNav{
  display: flex;
  gap:10px;
}

.news-and-event {
  display: flex;
  align-items: center;
  /* Align items vertically in the center */
  margin-bottom: 16px;
  /* Adjust margin as needed */
}

.image-container {
  margin-right: 16px;
  /* Adjust margin as needed */
}