@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');


/* *{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 5em;
    background-color: rgb(37, 38, 39);
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.burger-menu{
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer; */
/* } */

.menu {
  /* flex: 1; */
  min-width: 0;
  /* background: #0e83e3; */
}

.navbarItems {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border: none;
  gap: 50px;
}
.Logo-Image {
  /* padding-top: 15px; */
  height: 60px;
  width: 90px;
  margin-left: 15px;
}

.Logo-Image img {
  width: 90px;
  height: 80px;
  object-fit: contain;
}

.nav-about {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.playstore {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.playstore img {
  height: 45px;
  width: 130px;
}

.appstore {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.appstore img {
  height: 45px;
  width: 130px;
}

/* new navbar */

.burgerInactiveClass {
  border: 1px solid green;

}

.burgerActiveClass {
  border: 1px solid blue;

}

.navBarItemsContainer {
  /* border: 4px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navMenu {
  width: 1190px;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 20px;
  /* background-color: #0e83e3; */
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: flex-end;
  gap: 100px;
  color: white;
}

.navMenu a {
  color:white;
}


.itemsContainer {
  border: 2px solid orangered;

}

.hamburgerIconContainer {
  display: none;
}

@media screen and (max-width: 720px) {
  .itemsContainer {
    display: none;
  }
  .hamburgerIconContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: blue;
    height: auto;

  }
}

.navModal {
  height: 100vh;
  width: 100%;
  color: white;
  border: 2px solid red;
  background-color: grey;
}
